.study-search-box {
    span {
        position: absolute;
        top: 3px;
        right: 6px;
        z-index: 999;
        color: #a9a9a9;
    }
}

// .study-search-box-container {
//     position: absolute;
//     top: 8px;
//     right: 12px;
// }
