<?php

/**
 * CRYOSOFT API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

/**
 * CRYOSOFT API
 * @version 0.0.1
 */

$router->get('/', function () use ($router) {
    return $router->app->version();
});
/**
 * PUT createStudy
 * Summary: 
 * Notes: create a new study
 * Output-Formats: [application/json]
 */
$router->PUT('/api/v1/studies', 'Api1\\Studies@createStudy');
/**
 * GET findStudies
 * Summary: 
 * Notes: Get a list of studies
 * Output-Formats: [application/json]
 */
$router->GET('/api/v1/studies', 'Api1\\Studies@findStudies');
/**
 * DELETE deleteStudyById
 * Summary: 
 * Notes: 
 * Output-Formats: [application/json]
 */
$router->DELETE('/api/v1/studies/{id}', 'Api1\\Studies@deleteStudyById');
/**
 * GET getStudyById
 * Summary: 
 * Notes: 
 * Output-Formats: [application/json]
 */
$router->GET('/api/v1/studies/{id}', 'Api1\\Studies@getStudyById');

