<div class="container" *ngIf="!isLoading">
  <app-chaining #chainingControls (loaded)="onChainControlsLoaded()" *ngIf="study.CHAINING_CONTROLS"></app-chaining>

  <div class="card-group product-container mb-3">
    <div class="card">
      <div class="card-header">
        <strong>{{ 'PRODUCT DEFINITION' | translate }}</strong>
        <button type="button" class="btn btn-sm btn-primary float-right"
        [disabled]="study.CHAINING_CONTROLS && (study.HAS_CHILD || study.PARENT_ID != 0) || disabledField()"
        (click)="modalEditProduct.show()" *ngIf="productShape != 0">
          <i class="fa fa-pencil-square-o"></i> {{'EDIT'|translate}}
        </button>
      </div>
      <div class="card-body" *ngIf="productShape !== 0">
        <div class="row">
          <div class="col-md-12">
            <div class="container">
              <!-- product name -->
              <div class="row">
                <div class="col-md-5">{{ 'Product name'|translate }}</div>
                <div class="col-md-7">{{ product.PRODNAME }}</div>
              </div>
              <!-- product shape -->
              <div class="row">
                <div class="col-md-5">{{ 'Shape'|translate }}</div>
                <div class="col-md-7">{{ 'SHAPECODE_'+productShape | translate }}</div>
              </div>
              <!-- dimension 1 -->
              <div class="row" *ngIf="productShape != shapeNames.SLAB && productShape != shapeNames.SPHERE
              && productShape != shapeNames.D_SPHERE && productShape != shapeNames.D_TRAP_3D
              && productShape != shapeNames.D_STAND_OVAL && productShape != shapeNames.D_LYN_OVAL">
                <div class="col-md-5">
                  <label *ngIf="productShape == shapeNames.REC_STAND || productShape == shapeNames.BREAD
                  || productShape == shapeNames.CON_CYL_LAY || productShape == shapeNames.D_REC_BLOCK_V
                  || productShape == shapeNames.D_LYN_CON_CYL || productShape == shapeNames.D_REC_BLOCK">{{'Length'|translate}}</label>
                  <label *ngIf="productShape == shapeNames.CYL_LAY || productShape == shapeNames.CYL_STAND
                  || productShape == shapeNames.D_STAND_CYL || productShape == shapeNames.D_LYI_CYL">{{'Diameter'|translate}}</label>
                  <label *ngIf="productShape == shapeNames.REC_LAY || productShape == shapeNames.CON_CYL_STAND
                  || productShape == shapeNames.D_REC_BLOCK_H || productShape == shapeNames.D_STAND_CON_CYL">{{'Height'|translate}}</label>
                </div>
                <div class="col-md-7" *ngIf="symbol">{{prodDim1}} {{symbol.prodDimensionSymbol}}</div>
              </div>
              <div class="row" *ngIf="productShape == shapeNames.D_TRAP_3D || productShape == shapeNames.D_STAND_OVAL
              || productShape == shapeNames.D_LYN_OVAL">
                <div class="col-md-5">
                  <label *ngIf="productShape == shapeNames.D_TRAP_3D">{{'Base Length'|translate}}</label>
                  <label *ngIf="productShape == shapeNames.D_STAND_OVAL || productShape == shapeNames.D_LYN_OVAL">{{'Major Diameter'|translate}}</label>
                </div>
                <div class="col-md-7" *ngIf="symbol">{{prodDim1}} {{symbol.prodDimensionSymbol}}</div>
              </div>
              <!-- dimension 3 -->
              <div class="row" *ngIf="(productShape == shapeNames.REC_STAND || productShape == shapeNames.REC_LAY
              || productShape == shapeNames.BREAD || productShape == shapeNames.D_REC_BLOCK_V
              || productShape == shapeNames.D_REC_BLOCK_H || productShape == shapeNames.D_REC_BLOCK)">
                <div class="col-md-5">{{'Width'|translate}}</div>
                <div class="col-md-7" *ngIf="symbol">{{prodDim3}} {{symbol.prodDimensionSymbol}}</div>
              </div>
              <div class="row" *ngIf="productShape == shapeNames.D_TRAP_3D || productShape == shapeNames.D_STAND_OVAL
              || productShape == shapeNames.D_LYN_OVAL">
                <div class="col-md-5">
                  <label *ngIf="productShape == shapeNames.D_TRAP_3D">{{'Base Width'|translate}}</label>
                  <label *ngIf="productShape == shapeNames.D_STAND_OVAL || productShape == shapeNames.D_LYN_OVAL">{{'Minor Diameter'|translate}}</label>
                </div>
                <div class="col-md-7" *ngIf="symbol">{{prodDim3}} {{symbol.prodDimensionSymbol}}</div>
              </div>
              <!-- variable dimension -->
              <div class="row">
                <div class="col-md-5">
                  <strong>
                    <label *ngIf="productShape == shapeNames.REC_STAND || productShape == shapeNames.BREAD
                      || productShape == shapeNames.CYL_STAND || productShape == shapeNames.D_REC_BLOCK_V
                      || productShape == shapeNames.D_STAND_CYL || productShape == shapeNames.D_REC_BLOCK
                      || productShape == shapeNames.D_TRAP_3D || productShape == shapeNames.D_STAND_OVAL">{{'Height'|translate}}</label>
                    <label *ngIf="productShape == shapeNames.SLAB">{{'Thickness'|translate}}</label>
                    <label *ngIf="productShape == shapeNames.REC_LAY || productShape == shapeNames.CYL_LAY
                      || productShape == shapeNames.D_REC_BLOCK_H || productShape == shapeNames.D_LYI_CYL
                      || productShape == shapeNames.D_LYN_OVAL">{{'Length'|translate}}</label>
                    <label *ngIf="productShape == shapeNames.SPHERE || productShape == shapeNames.CON_CYL_STAND
                      || productShape == shapeNames.CON_CYL_LAY || productShape == shapeNames.D_SPHERE
                      || productShape == shapeNames.D_STAND_CON_CYL || productShape == shapeNames.D_LYN_CON_CYL">{{'Diameter'|translate}}</label>
                  </strong>
                </div>
                <div class="col-md-7" *ngIf="symbol">{{prodDim2}} {{symbol.prodDimensionSymbol}}</div>
              </div>
            </div> <!-- /.container -->
            <div class="container border mt-3">
              <div class="row">
                <div class="col-md-5">{{'Calculated mass'|translate}}</div>
                <div class="col-md-7" *ngIf="symbol">{{product.PROD_WEIGHT}} {{symbol.massSymbol}}</div>
              </div>
              <div class="row">
                <div class="col-md-5"><strong>{{'Real mass/unit'|translate}}</strong></div>
                <div class="col-md-7" *ngIf="symbol">{{product.PROD_REALWEIGHT}} {{symbol.massSymbol}}</div>
              </div>
            </div>
          </div><!-- /col-md-10 -->
        </div>
      </div> <!-- /.card-body -->
      <div *ngIf="productShape === 0" class="text-center card-body">
        <button class="btn btn-primary btn-lg" (click)="modalEditProduct.show()" [disabled]="disabledField()">{{'DEFINE'|translate}}</button>
      </div><!-- /.card-body -->
    </div> <!-- /.card -->

    <div class="card">
      <div class="card-header">
        <strong>{{ '3D VIEW' | translate }}</strong>
        <button type="button" class="btn btn-sm btn-primary float-right" [disabled]="disabledField()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
      <div class="card-body threejs-container">
        <app-threedview [model]="productModel" [shape]="productShape"></app-threedview>
      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div>

  <div class="card">
    <div class="card-header">
      <strong>{{'PRODUCT ELEMENTS'|translate}}</strong>
      <div class="float-right">
        <button type="button" class="btn btn-success btn-sm"
          [disabled]="study.CHAINING_CONTROLS && (study.HAS_CHILD || !study.CHAINING_ADD_COMP_ENABLE) || !productModel.isAddComponentAllowed || disabledField()"
          data-style="slide-left" [ladda]="laddaAddComponent" (click)="onShowAddElement()">
          <i class="fa fa-plus"></i> {{'ADD'|translate}}
        </button>
      </div>
    </div>
    <table class="table table-sm table-bordered table-hover mb-0" *ngIf="elements.length > 0">
      <thead>
        <tr *ngIf="symbol">
          <th class="text-center" width="5%" style="vertical-align:middle"><i class="fa fa-sort" aria-hidden="true"></i></th>
          <th class="text-center" width="30%" style="vertical-align:middle">{{'Component name'|translate}}</th>
          <th class="text-center" width="30%" style="vertical-align:middle">{{'Description'|translate}}</th>
          <th class="text-center" style="vertical-align:middle">{{'Specific Dim'|translate}} ({{symbol.prodDimensionSymbol}})</th>
          <th class="text-center" *ngIf="productShape == 18" style="vertical-align:middle">{{'Specific Dim 4'|translate}} ({{symbol.prodDimensionSymbol}})</th>
          <th class="text-center" *ngIf="productShape == 18" style="vertical-align:middle">{{'Specific Dim 5'|translate}} ({{symbol.prodDimensionSymbol}})</th>
          <th class="text-center" style="vertical-align:middle">{{'Calculated Mass'|translate}} ({{symbol.massSymbol}})</th>
          <th class="text-center" style="vertical-align:middle">{{'Real mass'|translate}} ({{symbol.massSymbol}})</th>
          <th class="text-center" width="1%" style="vertical-align:middle">{{'Actions'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of elements; first as isFirst; last as isLast; let i = index">
          <td class="text-center nowrap">
            <a *ngIf="!isFirst" (click)="onMoveUpElement(element)"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
            <a *ngIf="!isLast" (click)="onMoveDownElement(element)"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
          </td>
          <td>
            <i class="fa fa-stop fa-lg" [style.color]="element.prodcharColor ? element.prodcharColor.CODE_HEXA : prodColors[i].CODE_HEXA" 
            (click)="showModalSelectColor(element, i + 1)" style="cursor:pointer"></i> {{element.componentName}}</td>
          <td class="text-center">
            {{ element.PROD_ELMT_NAME }}
            <div *ngIf="study.CHAINING_CONTROLS && study.PARENT_ID != 0 && element.INSERT_LINE_ORDER != study.ID_STUDY">
              {{'(parent component)'|translate}}
            </div>
          </td>
          <td class="text-center">{{ element.SHAPE_PARAM2 }}</td>
          <td class="text-center" *ngIf="productShape == 18">{{ element.SHAPE_PARAM4 }}</td>
          <td class="text-center" *ngIf="productShape == 18">{{ element.SHAPE_PARAM5 }}</td>
          <td class="text-center" *ngIf="element.PROD_ELMT_WEIGHT > 0;else warningProdElmtWeight">{{ element.PROD_ELMT_WEIGHT }}</td>
          <ng-template #warningProdElmtWeight>
            <td class="text-center">{{'This unit does not allow enough precision'|translate}}</td>
          </ng-template>
          <td class="text-center" *ngIf="element.PROD_ELMT_REALWEIGHT > 0;else warningProdElmtRealWeight">{{ element.PROD_ELMT_REALWEIGHT }}</td>
          <ng-template #warningProdElmtRealWeight>
            <td class="text-center">{{'This unit does not allow enough precision'|translate}}</td>
          </ng-template>
          <td class="text-center nowrap">
            <button class="btn btn-sm btn-primary"
              (click)="onEditElement(element)"
              [disabled]="(disabledChainning() || (element.INSERT_LINE_ORDER != study.ID_STUDY) || disabledField())">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-sm btn-danger"
              (click)="onRemoveElement(element, i)"
              [disabled]="(disabledChainning() || (element.INSERT_LINE_ORDER != study.ID_STUDY) || disabledField())" [ladda]="laddaDeletingElmts[i]">
              <i class="fa fa-minus-circle"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="card-body text-center text-muted" *ngIf="elements.length == 0">
      <p>{{'No data to display'|translate}}</p>
    </div>
  </div>
</div>

<!--Start model edit product -->
<div bsModal class="modal fade" #modalEditProduct="bs-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{'EDIT PRODUCT'|translate}}</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalEditProduct.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-md-4 align-self-center">
          <img *ngIf="previewImgSrc" [src]="previewImgSrc" class="img-fluid mx-auto d-block">
        </div>
        <div class="col-md-8">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">{{'Product name'|translate}}</label>
            <div class="col-md-9">
              <input type="text" id="text-input" name="text-input" class="form-control" [(ngModel)]="productForm.name">
            </div>
          </div>
          <!-- add filter shape 3d -->
          <div class="form-group row" *ngIf="study.CALCULATION_MODE">
            <label class="col-md-3 col-form-label" for="email-input">{{'Product shape'|translate}}</label>
              <div class="col-md-6" [ngClass]="(study.CALCULATION_MODE == 3) || (study.CALCULATION_MODE == 1) ? 'col-md-6':'col-md-9'">
                <select [(ngModel)]="productForm.shape" class="form-control" (ngModelChange)="onChangeShape()">
                  <option *ngFor="let shape of availShapes" [value]="shape.ID_SHAPE">{{ 'SHAPECODE_'+shape.SHAPECODE | translate }}</option>
                </select>
              </div>
              <div class="col-md-3" *ngIf="(study.CALCULATION_MODE == 3) || (study.CALCULATION_MODE == 1)">
                <button class="btn btn-primary" (click)="change3DProduct();onChangeShape()">{{ dText|translate}}</button>
              </div>
          </div>
          <!-- End add filter shape 3d -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="email-input">Dimension 1</label>
            <div class="col-md-9">
              <div class="input-group">
                <input type="text" name="dim1" class="form-control" [(ngModel)]="productForm.dim1" [disabled]="dimension1Disabled">
                <span class="input-group-addon" *ngIf="symbol">{{symbol.prodDimensionSymbol}}</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="email-input">Dimension 2</label>
            <div class="col-md-9">
              <div class="input-group">
                <input type="text" name="dim1" class="form-control" [(ngModel)]="productForm.dim2" [disabled]="dimension2Disabled">
                <span class="input-group-addon" *ngIf="symbol">{{symbol.prodDimensionSymbol}}</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="email-input">Dimension 3</label>
            <div class="col-md-9">
              <div class="input-group">
                <input type="text" name="dim1" class="form-control" [(ngModel)]="productForm.dim3" [disabled]="dimension3Disabled">
                <span class="input-group-addon" *ngIf="symbol">{{symbol.prodDimensionSymbol}}</span>
              </div>
            </div>
          </div>
          <!-- add new 3D -->
          <div class="form-group row" *ngIf="showText == true">
            <label class="col-md-3 col-form-label" for="email-input">Dimension 4</label>
            <div class="col-md-9">
              <div class="input-group">
                <input type="text" name="dim4" class="form-control" [(ngModel)]="productForm.dim4" [disabled]="dimension4Disabled">
                <span class="input-group-addon" *ngIf="symbol">{{symbol.prodDimensionSymbol}}</span>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="showText == true">
            <label class="col-md-3 col-form-label" for="email-input">Dimension 5</label>
            <div class="col-md-9">
              <div class="input-group">
                <input type="text" name="dim5" class="form-control" [(ngModel)]="productForm.dim5" [disabled]="dimension5Disabled">
                <span class="input-group-addon" *ngIf="symbol">{{symbol.prodDimensionSymbol}}</span>
              </div>
            </div>
          </div>
          <!-- End 3D -->
        </div>
      </div><!-- modal-body -->
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" (click)="modalEditProduct.hide()">Cancel</button>
        <button class="btn btn-primary" (click)="saveProduct()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End model edit product -->
<!-- Start Model add component -->
<div bsModal class="modal fade" #addElementModal="bs-modal" role="dialog" aria-hidden="true" (onShow)="onEditProductModalShow('onShow', $event)">
  <div class="modal-dialog modal-primary" role="document" style="max-width:70%;">
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{'ADDING COMPONENTS'|translate}}</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="addElementModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <p>
          Enter from bottom to top (vertical), left to right (horizontal), core to surface (concentric)
        </p>
          <div class="card-group">
            <div class="card">
              <div class="card-header">Filter</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                    <p>{{'Component family'|translate}}</p>
                  </div>
                  <div class="col-md-7">
                    <select class="form-control" [(ngModel)]="compFamilySelected" (change)="compFamilyFilter()">
                      <option [value]="0">{{ 'Select a family'|translate }}</option>
                      <option *ngFor="let family of compFamily" [value]="family.ID_TRANSLATION">
                        {{ family.LABEL }}
                      </option>
                    </select>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-5">
                    <p>{{'Sub family'|translate}}</p>
                  </div>
                  <div class="col-md-7">
                    <select class="form-control" [(ngModel)]="subFamilySelected" (change)="subFamilyFilter()">
                      <option [value]="0">{{ 'Select a sub family'|translate }}</option>
                      <option *ngFor="let family of subFamily" [value]="family.ID_TRANSLATION">
                        {{ family.LABEL }}
                      </option>
                    </select>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-5">
                    <p>{{'Water percenttage'|translate}}</p>
                  </div>
                  <div class="col-md-7">
                    <select class="form-control" [(ngModel)]="waterPercentListSelected" (change)="waterPercentFilter()">
                      <option [value]="0">{{ 'Select a water percentage'|translate }}</option>
                      <option *ngFor="let percent of waterPercentList; let i = index" [value]="i + 1">
                        {{ percent }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" *ngIf="components">
              <div class="card-header">
                &nbsp;
                <div>
                  <div class="input-group input-group-sm" id="components-search-box">
                    <input type="text" class="form-control" [(ngModel)]="filterString" placeholder="{{'Search'|translate}}" />
                    <span>
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="list-group">
                <perfect-scrollbar style="max-height: 250px">
                  <div class="list-group">
                    <a *ngFor="let component of (components.active | compFilter: filterString)" class="list-group-item list-group-item-action {{component.class}}"
                      style="height:30px; padding: 5px 10px;" [ngClass]="component == selectedAddingElement? 'active' : ''"
                      (click)="onSelectAddingElement(component, 0)">
                      <p>{{ component.displayName }}</p>
                    </a>
                    <h6 class="dropdown-header text-center" *ngIf="components.sleeping">{{'--------------- SLEEPING COMPONENTS ---------------'|translate}}</h6>
                    <a *ngFor="let component of (components.sleeping | compFilter: filterString)" class="list-group-item list-group-item-action" style="height:30px; padding: 5px 10px;"
                      [ngClass]="component == selectedAddingElement? 'active' : ''" (click)="onSelectAddingElement(component, 1)">
                      <p>{{'SCD:'|translate}} {{ component.displayName }}</p>
                    </a>
                  </div>
                </perfect-scrollbar>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" (click)="addElementModal.hide()">{{'Cancel'|translate}}</button>
        <button class="btn btn-primary" (click)="onAddElement()" [ladda]="laddaConfirmAddComponent">{{'Confirm'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<!-- End model add component -->
<!-- Start model edit com -->
<div bsModal class="modal fade" #editCompModal="bs-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-primary">
    <div class="modal-content">
      <div class="modal-header">
        <strong class="text-uppercase">{{'Product Component'|translate}}</strong>
        <button class="close" arria-label="Close" data-dismiss="modal" (click)="editCompModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group row">
            <div class="col-md-4" style="float:right">{{'Description:'|translate}}</div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" name="description" class="form-control" [(ngModel)]="elementForm.description">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4" style="float:right">{{'Specific Dim:'|translate}}</div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" name="specificDim" class="form-control" [(ngModel)]="elementForm.specific_dim">
                <span class="input-group-addon" *ngIf="symbol">{{symbol.prodDimensionSymbol}}</span>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="productShape == 18">
            <div class="col-md-4" style="float:right">{{'Specific Dim 4:'|translate}}</div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" name="specificDim4" class="form-control" [(ngModel)]="elementForm.specific_dim4">
                <span class="input-group-addon" *ngIf="symbol">{{symbol.prodDimensionSymbol}}</span>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="productShape == 18">
            <div class="col-md-4" style="float:right">{{'Specific Dim 5:'|translate}}</div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" name="specificDim5" class="form-control" [(ngModel)]="elementForm.specific_dim5">
                <span class="input-group-addon" *ngIf="symbol">{{symbol.prodDimensionSymbol}}</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4" style="float:right">{{'Calculated mass:'|translate}}</div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" name="calcMass" class="form-control" disabled [(ngModel)]="elementForm.computed_mass">
                <span class="input-group-addon" *ngIf="symbol">{{symbol.massSymbol}}</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4" style="float:right">{{'Real mass:'|translate}}</div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" name="realMass" class="form-control" [(ngModel)]="elementForm.real_mass">
                <span class="input-group-addon" *ngIf="symbol">{{symbol.massSymbol}}</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary btn-sm" (click)="editCompModal.hide()">{{'Cancel'|translate}}</button>
        <button class="btn btn-primary btn-sm" (click)="updateProductElement()" [ladda]="laddaUpdateElement">{{'Update'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<!-- End Model edit com -->
<!-- Start model select color -->
<div bsModal class="modal fade" #selectcolorModal="bs-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-primary">
    <div class="modal-content">
      <div class="modal-header">
        <strong class="text-uppercase">{{'Select Layer Color'|translate}}</strong>
        <button class="close" arria-label="Close" data-dismiss="modal" (click)="selectcolorModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="colorItems.length > 0 && colorSelected.length > 0">
          <ng-select
            [allowClear]="true"
            [items]="colorItems"
            [active]="colorSelected"
            [disabled]="disabled"
            (data)="refreshValue($event)"
            (selected)="selected($event, product.ID_PROD)"
            (removed)="removed($event)"
            (typed)="typed($event)"
            placeholder="No color selected">
          </ng-select>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary btn-sm" (click)="selectcolorModal.hide()">{{'Close'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<!-- End model select color -->
<app-spinner *ngIf="isLoading"></app-spinner>
