<div class="container">
  <div class="card product-contaiber" *ngIf="(study.CALCULATION_MODE == 1 && sizingEstimationValue != '') || (study.CALCULATION_MODE != 1 && sizingOptimumValue != ''); else noResult">
    <div class="card-header text-center">
      <div class="btn-group" role="group">
        <button class="btn btn-outline-primary btn-sm" (click)="openSize()" [class.active]="activePage == 'result'">{{'Sizing Result'|translate}}</button>
        <button class="btn btn-outline-primary btn-sm" (click)="openTem()" [class.active]="activePage == 'profile'">{{'Temperature Profile'|translate}}</button>
      </div>
    </div>
    <div class="card-body">
      <div style="display:block;" id="sizing">
        <div id="sizingEstimation" *ngIf="study.CALCULATION_MODE == 1 && sizingEstimationValue">
          <tabset>
            <tab>
              <ng-template tabHeading><i class="icon-graph"></i> {{'Graph'|translate}}</ng-template>   
              <h5 class="text-danger" style="font-weight:600">{{'Select option'|translate}}</h5>  
              <div class="row"> 
                <div class="col-md-4" align="center" >
                    <label class="custom-control custom-radio" >
                      <input type="radio" class="custom-control-input" name="trGraph" [ngModel]="trGraph" [value]="2" (change)="changeEstimationTrGraph(2)" [checked]="2">{{'Control Temperature 10°C (18°F) colder.'|translate}}
                      <span class="custom-control-indicator"></span>
                    </label>
                </div>
                <div class="col-md-4" align="center" >
                    <label class="custom-control custom-radio" >
                      <input type="radio" class="custom-control-input" name="trGraph" [ngModel]="trGraph" [value]="1" (change)="changeEstimationTrGraph(1)" [checked]="1">{{'Control Temperature'|translate}}
                      <span class="custom-control-indicator"></span>
                    </label>
                </div>
                <div class="col-md-4" align="center" >
                    <label class="custom-control custom-radio" >
                      <input type="radio" class="custom-control-input" name="trGraph" [ngModel]="trGraph" [value]="0" (change)="changeEstimationTrGraph(0)" [checked]="0">{{'Control Temperature 10°C (18°F) warmer.'|translate}}
                      <span class="custom-control-indicator"></span>
                    </label>
                </div>
              </div>
              <h5 class="text-danger" style="font-weight:600;margin-top:10px">{{'Results criteria'|translate}}</h5>
              <div class="result-criteria" style="margin-top:10px">
                <div class="row form-group">
                  <div class="col-md-5">
                    <h6 class="text-primary">{{'Equipment list'|translate}}</h6>
                      <select multiple="" [(ngModel)]="selectedEquipList" class="form-control" style="height:105px">
                        <option *ngFor="let equip of equipmentList" [value]="equip">{{equip.equipName}}</option>
                      </select>
                  </div>
                  <div class="col-md-2">
                      <div style="margin-top: 38px">
                        <div class="text-center">
                          <i id="moveSelectedEquipment" class="fa fa-long-arrow-right" aria-hidden="true" (click)="moveSelectedEquipment()" style="font-size: 40px;cursor: pointer"></i>
                        </div>
                        <div class="text-center">
                          <i id="moveAvailableEquipment" class="fa fa-long-arrow-left" aria-hidden="true" (click)="moveAvailableEquipment()" style="font-size: 40px;cursor: pointer"></i>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-5">
                      <h6 class="text-primary">{{'Active equipment'|translate}}</h6>
                      <select multiple="" [(ngModel)]="selectedActiveEquip" class="form-control" style="height:105px" *ngIf="activeEquipment">
                          <option *ngFor="let equip of activeEquipment" [value]="equip">{{equip.equipName}}</option>
                      </select>
                  </div>
                </div>
              </div>

              <div *ngIf="activeEquipment.length > 0 && estimationEquipBarImage.src != ''"> 
                <img [src]="estimationEquipBarImage.src">
              </div>
            
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="text-center form-group">
                    <select name="" [(ngModel)]="selectedEquip" class="form-control" (ngModelChange)="loadEquipmentEstimationChart()">
                      <option *ngFor="let equip of dataGraphChart" [value]="equip.id">{{equip.equipName}}</option>
                    </select>
                </div>
                </div>
                <div class="col-md-3"></div>
              </div>
              
              <div *ngIf="dataGraphChart.length > 0 && sizingEstimationImage.src != ''"> 
                <img [src]="sizingEstimationImage.src">
              </div>
              
            </tab>
            <tab>
              <ng-template tabHeading><i class="icon-doc"></i> {{'Value'|translate}}</ng-template>
              <h5 class="text-danger" style="font-weight:600">{{'Select option'|translate}}</h5>  
              <div class="row">
                <div class="col-md-4" align="center" >
                    <label class="custom-control custom-radio" >
                      <input type="radio" class="custom-control-input" name="TR" (change)="loadEstimationValue(2)">{{'Control Temperature 10°C (18°F) colder.'|translate}}
                      <span class="custom-control-indicator"></span>
                    </label>
                </div>
                <div class="col-md-4" align="center" >
                    <label class="custom-control custom-radio" >
                      <input type="radio" class="custom-control-input" name="TR" (change)="loadEstimationValue(1)" checked>{{'Control Temperature'|translate}}
                      <span class="custom-control-indicator"></span>
                    </label>
                </div>
                <div class="col-md-4" align="center" >
                    <label class="custom-control custom-radio" >
                      <input type="radio" class="custom-control-input" name="TR" (change)="loadEstimationValue(0)">{{'Control Temperature 10°C (18°F) warmer.'|translate}}
                      <span class="custom-control-indicator"></span>
                    </label>
                </div>
              </div>
              <h5 class="text-danger" style="font-weight:600;margin-top:10px">{{'Equipment'|translate}}</h5>
              <div class="table-responsive">
                  <table class="table table-bordered table-sm">
                    <tr>
                      <th rowspan="2" style="vertical-align:middle;width:19%">{{'Equipment'|translate}}</th>
                      <th rowspan="2" style="vertical-align:middle">{{'Control Temperature'|translate}} ({{symbol.temperatureSymbol}})</th>
                      <th colspan="3"style="text-align:center;vertical-align:middle">{{'Chosen product flowrate'|translate}}</th>
                      <th colspan="3"style="text-align:center;vertical-align:middle">{{'Maximum product flowrate'|translate}}</th>
                    </tr>
                    <tr *ngIf="symbol">
                      <td align="center">{{'Product flowrate'|translate}} ({{symbol.productFlowSymbol}})</td>
                      <td align="center">{{'Cryogen consumption (product + equipment heat losses'|translate}})({{symbol.consumSymbol}}/{{symbol.perUnitOfMassSymbol}})</td>
                      <td align="center">{{'Conveyor coverage or quantity of product per batch'|translate}}</td>
                      <td align="center">{{'Maximum product flowrate'|translate}} ({{symbol.productFlowSymbol}})</td>
                      <td align="center">{{'Maximum cryogen consumption (product + equipment heat losses)'|translate}} ({{symbol.consumSymbol}}/{{symbol.perUnitOfMassSymbol}})	</td>
                      <td align="center">{{'Conveyor coverage or quantity of product per batch'|translate}}</td>
                    </tr>
                    <tr *ngFor="let result of sizingEstimationValue">
                      <td align="center" class="tdResultLink" style="vertical-align:middle">
                        <ng-container *ngIf="getCapability(result.capabilitie, 1024);else notAddEquipModal">
                            <a href="javascript:;" class="tdResultLink" (click)="viewAddEquipModal(result.id)">{{result.equipName}}</a>                            
                        </ng-container>
                        <ng-template #notAddEquipModal>
                        <a href="javascript:;" class="tdResultLink" disabled>{{result.equipName}}</a>
                        </ng-template>
                      </td>
                      <td align="center" class="tdResultAna" style="vertical-align:middle" *ngIf="isNumberic(result.tr) == true;else noTooltip">
                        <a href="javascript:;" placement="right" (click)="viewEquipTr(result)">{{result.tr}}</a>
                      </td>
                      <ng-template #noTooltip>
                      <td align="center" class="tdResultAna" style="vertical-align:middle">
                        <a href="javascript:;">{{result.tr}}</a>
                      </td>  
                      </ng-template>
                      <td align="center" class="tdResultAna"style="vertical-align:middle">{{result.dhp}}</td>
                      <td align="center" class="tdResultAna"style="vertical-align:middle">{{result.conso}}</td>
                      <td align="center" class="tdResultAna"style="vertical-align:middle">{{result.toc}}</td>
                      <td align="center" class="tdResultAna"style="vertical-align:middle">{{result.dhpMax}}</td>
                      <td align="center" class="tdResultAna"style="vertical-align:middle">{{result.consoMax}}</td>
                      <td align="center" class="tdResultAna"style="vertical-align:middle">{{result.tocMax}}</td>
                    </tr>
                  </table>
              </div>
            </tab>
          </tabset>
        </div>
        <div id="sizingOptimum" *ngIf="study.CALCULATION_MODE != 1 && sizingOptimumValue">
          <tabset>
            <tab>
              <ng-template tabHeading><i class="icon-graph"></i> {{'Graph'|translate}}</ng-template>     
              <h5 class="text-danger" style="font-weight:600">{{'Results criteria'|translate}}</h5>
  
              <div class="result-criteria" style="margin-top:20px">
                <div class="row form-group">
                  <div class="col-md-5">
                    <h6 class="text-primary">{{'Equipment list'|translate}}</h6>
                      <select [(ngModel)]="selectedEquipList" id="availableEquipment" name="availableEquipment" multiple="" class="form-control" style="height:105px">
                        <option *ngFor="let equip of equipmentList" [value]="equip">{{equip.equipName}}</option>
                      </select>
                  </div>
                  <div class="col-md-2">
                      <div style="margin-top: 38px">
                        <div class="text-center">
                          <i id="moveSelectedEquipment" class="fa fa-long-arrow-right" aria-hidden="true" (click)="moveSelectedEquipment()" style="font-size: 40px;cursor: pointer"></i>
                        </div>
                        <div class="text-center">
                          <i id="moveAvailableEquipment" class="fa fa-long-arrow-left" aria-hidden="true" (click)="moveAvailableEquipment()" style="font-size: 40px;cursor: pointer"></i>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-5">
                      <h6 class="text-primary">{{'Active equipment'|translate}}</h6>
                      <select [(ngModel)]="selectedActiveEquip" id="selectedEquipment" name="selectedEquipment" multiple="" class="form-control" style="height:105px">
                        <option *ngFor="let equip of activeEquipment" [value]="equip">{{equip.equipName}}</option>
                      </select>
                  </div>
                </div>
                <!--<div class="row">
                  <div class="col-md-12">
                    <div class="form-group pull-right">
                      <button class="btn btn-flat btn-primary buttons" (click)="getSizingOptimumDraw()"> Refesh</button>
                    </div>
                  </div>
                </div>-->
              </div>
              
              <div *ngIf="activeEquipment.length > 0 && sizingOptimumImage.src != ''"> 
                <img [src]="sizingOptimumImage.src">
              </div>
            </tab>
            <tab>
              <ng-template tabHeading><i class="icon-doc"></i> {{'Value'|translate}}</ng-template>
              <strong>{{'Equipment'|translate}}</strong>
              <div class="table-responsive">
                <table class="table table-bordered table-sm">
                  <tr>
                    <th rowspan="2" style="vertical-align:middle;width:19%">{{'Equipment'|translate}}</th>
                    <th colspan="4"style="text-align:center">{{'Chosen product flowrate'|translate}}</th>
                    <th colspan="4"style="text-align:center">{{'Maximum product flowrate'|translate}}</th>
                  </tr>
                  <tr *ngIf="symbol">
                    <td align="center">{{'Control Temperature'|translate}} ({{symbol.temperatureSymbol}})</td>
                    <td align="center">{{'Product flowrate'|translate}} ({{symbol.productFlowSymbol}})</td>
                    <td align="center">{{'Cryogen consumption (product + equipment heat losses'|translate}})({{symbol.consumSymbol}}/{{symbol.perUnitOfMassSymbol}})</td>
                    <td align="center">{{'Conveyor coverage or quantity of product per batch'|translate}}</td>
                    <td align="center">{{'Control Temperature'|translate}} ({{symbol.temperatureSymbol}})</td>
                    <td align="center">{{'Maximum product flowrate'|translate}} ({{symbol.productFlowSymbol}})</td>
                    <td align="center">{{'Maximum cryogen consumption (product + equipment heat losses)'|translate}} ({{symbol.consumSymbol}}/{{symbol.perUnitOfMassSymbol}})	</td>
                    <td align="center">{{'Conveyor coverage or quantity of product per batch'|translate}}</td>
                  </tr>
                  <tr *ngFor="let result of sizingOptimumValue">
                    <td align="center" class="tdResultLink"style="vertical-align:middle">
                      <a href="javascript:;" class="tdResultLink">{{result.equipName}}</a>
                    </td>
                    <td align="center" class="tdResultAna" style="vertical-align:middle" *ngIf="isNumberic(result.tr) == true;else noTooltip">
                      <a href="javascript:;" placement="right" [ngbTooltip]="tipContent">{{result.tr}}</a>
                      <ng-template #tipContent>
                        <div class="text-left" style="padding: 3px 0;font-size:13px">
                          <div style="white-space:nowrap">{{'Control temperature'|translate}}: <b>{{result.tr}}</b> ({{symbol.temperatureSymbol}})</div>
                          <div style="white-space:nowrap">{{'Residence/Dwell time'|translate}}: <b>{{result.ts}}</b> ({{symbol.timeSymbol}})</div>
                          <div style="white-space:nowrap">{{'Convection Setting'|translate}}: <b>{{result.vc}}</b> ({{symbol.convectionSpeedSymbol}})</div>
                        </div>
                      </ng-template>
                    </td>
                    <ng-template #noTooltip>
                    <td align="center" class="tdResultAna" style="vertical-align:middle">
                      <a href="javascript:;">{{result.tr}}</a>
                    </td>  
                    </ng-template>
                    <td align="center" class="tdResultAna"style="vertical-align:middle">{{result.dhp}}</td>
                    <td align="center" class="tdResultAna"style="vertical-align:middle">
                      <div *ngIf="result.conso_warning == 'warning_fluid'"><img src="assets/img/output/warning_fluid_overflow.gif" width="30"></div>
                      <div *ngIf="result.conso_warning == 'warning_dhp'"><img src="assets/img/output/warning_dhp_overflow.gif" width="30"></div>
                      <div *ngIf="result.conso_warning == 'warning_dhp_value'"><div>{{result.conso}}</div><img src="assets/img/output/warning_dhp_overflow.gif" width="30"></div>
                      <div *ngIf="result.conso_warning != 'warning_fluid' && result.conso_warning != 'warning_dhp' && result.conso_warning != 'warning_dhp_value'">{{result.conso}}</div>
                    </td>
                    <td align="center" class="tdResultAna"style="vertical-align:middle">{{result.toc}}</td>
                    <td align="center" class="tdResultAna" style="vertical-align:middle" *ngIf="isNumberic(result.trMax) == true;else noTooltipMax">
                        <a href="javascript:;" placement="right" [ngbTooltip]="tipContent">{{result.trMax}}</a>
                        <ng-template #tipContent>
                          <div class="text-left" style="padding: 3px 0;font-size:13px">
                            <div style="white-space:nowrap">{{'Control temperature'|translate}}: <b>{{result.trMax}}</b> ({{symbol.temperatureSymbol}})</div>
                            <div style="white-space:nowrap">{{'Residence/Dwell time'|translate}}: <b>{{result.tsMax}}</b> ({{symbol.timeSymbol}})</div>
                            <div style="white-space:nowrap">{{'Convection Setting'|translate}}: <b>{{result.vcMax}}</b> ({{symbol.convectionSpeedSymbol}})</div>
                          </div>
                        </ng-template>
                      </td>
                      <ng-template #noTooltipMax>
                      <td align="center" class="tdResultAna" style="vertical-align:middle">
                        <a href="javascript:;">{{result.trMax}}</a>
                      </td>  
                      </ng-template>
                    <td align="center" class="tdResultAna"style="vertical-align:middle">{{result.dhpMax}}</td>
                    <td align="center" class="tdResultAna"style="vertical-align:middle">
                      <div *ngIf="result.consomax_warning == 'warning_fluid'"><img src="assets/img/output/warning_fluid_overflow.gif" width="30"></div>
                      <div *ngIf="result.consomax_warning == 'warning_dhp'"><img src="assets/img/output/warning_dhp_overflow.gif" width="30"></div>
                      <div *ngIf="result.consomax_warning == 'warning_dhp_value'"><div>{{result.consoMax}}</div><img src="assets/img/output/warning_dhp_overflow.gif" width="30"></div>
                      <div *ngIf="result.consomax_warning != 'warning_fluid' && result.consomax_warning != 'warning_dhp' && result.consomax_warning != 'warning_dhp_value'">{{result.consoMax}}</div>
                    </td>
                    <td align="center" class="tdResultAna"style="vertical-align:middle">{{result.tocMax}}</td>
                  </tr>
                </table>
              </div>
              
            </tab>
          </tabset>
        </div>
        <div class="text-center" id="showLoaderChange"></div>
      </div>
      <div style="display:none" id="temPer">
        <ng-template #showLoaderTerm>
          <div class="text-center" id="showLoaderTerm"></div>
        </ng-template>
        <div class="text-center" id="showLoaderTermChange"></div>
        <div class="row">
            <strong class="col-md-2">{{'Equipment'|translate}}</strong>
            <select name="" id="" class="form-control col-md-4" (change)="loadTempChart($event.target.value)">
              <option *ngFor="let std of studyEquipments" [value]="std.ID_STUDY_EQUIPMENTS">{{ std.displayName }}</option>
            </select>
          </div>
        <div *ngIf="tempChartData; else showLoaderTerm">
          <div style="margin-top:20px;"> <strong> {{'Curve'|translate}}</strong></div>
          <div class="row"style="margin-top:20px;">
            <div class="col-md-12">
              <div class="chart-wrapper" *ngIf="tempChartData; else showLoaderTerm" style="width:70%;margin:auto">
                <canvas class="chart" baseChart
                  [datasets]="tempChartData"
                  [options]="tempChartOptions"
                  [colors]= "tempColours"
                  [legend]="tempChartLegend"
                  [chartType]="tempChartType">
                </canvas>
              </div>
            </div>
          </div>
    
          <div class="row"style="margin-top:20px;">
            <div class="col-md-12">
              <div class="chart-wrapper" *ngIf="convChartData" style="width:70%;margin:auto">
                <canvas class="chart" baseChart
                  [datasets]="convChartData"
                  [options]="convChartOptions"
                  [colors]= "tempColours"
                  [legend]="convChartLegend"
                  [chartType]="convChartType">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noResult>
    <div class="card" *ngIf="checkcontrol">
      <div class="card-body text-center text-muted" *ngIf="checkcontrol.checkcontrol;else isCheckControl">
        <p>{{'No data to display'|translate}}</p>
        <div style="padding-top:10px">
          <button class="btn btn-primary btn-lg text-uppercase" (click)="calculator.open()">{{'Calculate'|translate}}</button>
        </div>  
      </div>
    </div>
  </ng-template>
  <ng-template #isCheckControl>
    <div class="card">
      <div class="card-body text-center text-muted">
        <p>{{'No data to display'|translate}}</p>
        <div style="padding-top:10px">
          <button class="btn btn-primary btn-lg text-uppercase" disabled>{{'Calculate'|translate}}</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div bsModal class="modal modal-primary fade" #viewEquipTrModal="bs-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center" style="width:100%">
            <h5 *ngIf="viewEquipTrData">{{viewEquipTrData.equipName}} <span *ngIf="viewEquipTrData.specificSize != ''">- {{viewEquipTrData.specificSize}}</span></h5>
        </div>
        <button class="close" arria-label="Close" data-dismiss="modal" (click)="viewEquipTrModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-sm mb-0 text-center" *ngIf="symbol">
          <thead>
            <tr>
              <th>{{ 'Residence / Dwell time'|translate }} ({{ symbol.timeSymbol }})</th>
              <th>{{ 'Control temperature'|translate }} ({{ symbol.temperatureSymbol }})</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="viewEquipTrData">
              <td>{{viewEquipTrData.ts}}</td>
              <td>{{viewEquipTrData.tr}}</td>
            </tr>
          </tbody>
        </table>
        <p></p>
        <div class="text-center">
          <button class="btn btn-secondary" (click)="viewEquipTrModal.hide()">{{'Close'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal class="modal modal-primary fade" #addEquipModal="bs-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center" style="width:100%">
            <h5>{{'Input Wizard "Special Lengths"'|translate}}</h5>
        </div>
        <button class="close" arria-label="Close" data-dismiss="modal" (click)="addEquipModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="width: 70%;margin:auto"> 
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">{{'Dimension'|translate}}</label>
            <div class="col-sm-9">
              <select class="form-control" (change)="changeNbModuleValue($event.target.value)" [ngModel]="nbModule">
                <option *ngFor="let length of specialLength, let i = index" [value]="i+1">{{ length }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-secondary" (click)="addEquipModal.hide()">{{'Close'|translate}}</button>
          <button class="btn btn-primary" (click)="applyAddEquip()" [ladda]="laddaAddEquip">{{'Apply'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-calculator #calculator></app-calculator>