:host {
display: block;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#sizing {
    position: relative;
    width: 100%;
    min-height: 500px
}
#temPer {
    position: relative;
    width: 100%;
    min-height: 500px
}
#showLoader {
    background: url(/assets/img/output/loading.gif) no-repeat center center rgba(255,255,255,0.4);
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#showLoaderOptimum {
    background: url(/assets/img/output/loading.gif) no-repeat center center rgba(255,255,255,0.4);
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#showLoaderTerm{
    background: url(/assets/img/output/loading.gif) no-repeat center center rgba(255,255,255,0.4);
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#showLoaderChange, #showLoaderTermChange {
    background: url(/assets/img/output/loading.gif) no-repeat center center rgba(255,255,255,0.4);
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
img { 
    max-width: 100%
}