<div class="container" *ngIf="!isLoadingView">
  <app-chaining #chainingControls (loaded)="onChainingControlsLoaded()" *ngIf="study.CHAINING_CONTROLS"></app-chaining>

  <div class="row product-container">
    <div class="col-md-6" *ngIf="study.OPTION_ECO">
      <div class="card">
        <div class="card-header">
          <strong style="margin-top:5px;margin-left:5px;">{{'PRICE OF THE CRYOGEN' | translate}}</strong>
          <!-- <button type="button" class="btn btn-sm btn-success float-right" (click)="savePrice()" [ladda]="isUpdatePrice" [disabled]="!studyModifiable()">
            <i class="fa fa-pencil-square-o"></i> {{'Update'|translate}}
          </button>
          <button type="button" class="btn btn-sm btn-primary float-right" (click)="refreshPrice()" [disabled]="!studyModifiable()" style="margin-right: 10px;">
            <i class="fa fa-refresh"></i>
          </button> -->
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8" style="margin-top:5px;">
              <p>{{'Define the price of the Cryogen :'|translate}}</p>
            </div>
            <div class="col-4">
              <div class="input-group" style="width:120px;" *ngIf="unitData">
                <input type="text" name="text-input" class="form-control" [(ngModel)]="unitData.Price" 
                (change)="savePrice()" placeholder="0.00" [disabled]="!studyModifiable()">
                <span class="input-group-addon">
                  <small *ngIf="symbol" [innerHTML]="symbol.monetarySymbol"></small>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong style="margin-top:5px;margin-left:5px;">{{'LOADING RATE' | translate}}
            <span class="text-muted">{{'Spaces (length and width)'| translate}}</span>
          </strong>
          <!-- <button type="button" class="btn btn-sm btn-success float-right" (click)="saveInterval()" [ladda]="isUpdateInterval" [disabled]="!studyModifiable()">
            <i class="fa fa-pencil-square-o"></i> {{'Update'|translate}}
          </button>
          <button type="button" class="btn btn-sm btn-primary float-right" (click)="refreshIntervalLW()" style="margin-right: 10px;" [disabled]="!studyModifiable()">
            <i class="fa fa-refresh"></i>
          </button> -->
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="container">
                <div class="row">
                  <div class="col-md-5 auto">
                    <div class="input-group" *ngIf="unitData">
                      <input type="text" name="text-input" class="form-control" [(ngModel)]="unitData.IntervalLength" 
                      (change)="saveInterval()" placeholder="0.00" [disabled]="study.CHAINING_CONTROLS && (study.HAS_CHILD || study.PARENT_ID != 0) || disabledField()">
                      <span class="input-group-addon" *ngIf="symbol">
                        {{ symbol.prodDimensionSymbol }}
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center">x</div>
                  <div class="col-md-5">
                    <div class="input-group" *ngIf="unitData">
                      <input type="text" name="text-input" class="form-control" [(ngModel)]="unitData.IntervalWidth" 
                      (change)="saveInterval()" placeholder="0.00" [disabled]="study.CHAINING_CONTROLS && (study.HAS_CHILD || study.PARENT_ID != 0) || disabledField()">
                      <span class="input-group-addon" *ngIf="symbol">
                        {{ symbol.prodDimensionSymbol }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="!isLoadingView">
  <div class="card product-container">

    <div class="card-header">
      <strong>{{'SELECTED EQUIPMENT' | translate}}</strong>

      <div class="float-right">
        <button class="btn btn-sm btn-primary" [ladda]="laddaRecalculate" (click)="recalculateEquipment()" [disabled]="!studyModifiable()">
            {{'Recalculate equipment parameters'|translate}}
        </button>
        <button class="btn btn-sm btn-success" data-toggle="modal" (click)="onShowAddEquip()" 
        [ladda]="laddaListingEquipments" [disabled]="!studyModifiable()">
          <i class="fa fa-plus"></i>
          {{'Add'|translate}}
        </button>

      </div>
    </div>
    <table class="table table-bordered table-sm mb-0" *ngIf="equipmentsView && isUpdateInterval == false">
      <tr *ngIf="symbol">
        <th class="text-center align-middle" *ngIf="study.CALCULATION_MODE != 1"><small>{{'Calculate'|translate}}</small></th>
        <th class="text-center align-middle"><small>{{'Name'|translate}}</small></th>
        <th class="text-center align-middle"><small>{{'Product orientation'|translate}}</small></th>
        <th class="text-center align-middle"><small>{{'Residence / Dwell time'|translate}} ({{symbol.timeSymbol}})</small></th>
        <th class="text-center align-middle"><small>{{'Control temperature'|translate}} ({{symbol.temperatureSymbol}})</small></th>
        <th class="text-center align-middle"><small>{{'Convection Setting'|translate}} ({{symbol.convectionSpeedSymbol}})</small></th>
        <th class="text-center align-middle"><small>{{'Conveyor coverage or quantity of product per batch'|translate}}</small></th>
        <th class="text-center align-middle"><small>{{'Actions'|translate}}</small></th>
      </tr>
      <tr *ngFor="let equip of equipmentsView; let i = index">
        <td *ngIf="study.CALCULATION_MODE != 1">
          <label style="margin-left:1.5em;margin-top:0.7em" class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" [disabled]="disableCalculate" *ngIf="study.CALCULATION_MODE == 3 && equip.BRAIN_TYPE == 0 && ((equip.EQUIP_STATUS == 1 || equip.EQUIP_STATUS == 0) && (equip.RUN_CALCULATE == 1))" [checked]="true">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
        <td class="text-center align-middle">{{ equip.displayName }}</td>
        <td class="text-center align-middle">
          <span *ngIf="equip.ORIENTATION == 0">{{'Perpendicular'|translate}}</span>
          <span *ngIf="equip.ORIENTATION == 1">{{'Parallel'|translate}}</span>
        </td>
        <td class="text-center align-middle">
          <span class="d-block" *ngFor="let ts of equip.ts">{{ ts }}</span>
        </td>
        <td class="text-center align-middle">
          <span class="d-block" *ngFor="let tr of equip.tr">{{ tr }}</span>
        </td>
        <td class="text-center align-middle">
          <span class="d-block" *ngFor="let vc of equip.vc">{{ vc }}</span>
        </td>
        <td class="text-center align-middle" *ngIf="equip.layoutResults.LOADING_RATE">
          <div *ngIf="getCapability(equip.CAPABILITIES, 32)">{{ equip.top_or_QperBatch }}</div>
          <img *ngIf="equip.layoutGen.LENGTH_INTERVAL != -1.0 || equip.layoutGen.WIDTH_INTERVAL != -1.0" src="assets/img/icon_info.gif">
        </td>
        <td class="text-center align-middle" width="1%">
          <div style="margin-top:0.5em; white-space: nowrap">
            <button type="button" [disabled]="disabledField()" class="btn btn-success btn-sm" 
              (click)="equipEditConfig(equip, i)" ngbTooltip="Operational settings">
              <i class="fa fa-cogs"></i>
            </button>
            <button type="button" [disabled]="disabledField()" class="btn btn-primary btn-sm" [ladda]="laddaLoadingLayout"
              (click)="equipEditLayout(equip, i)" ngbTooltip="Layout editor">
              <i class="fa fa-th-large"></i>
            </button>
            <button type="button" [disabled]="!studyModifiable()" class="btn btn-danger btn-sm" 
              (click)="deleteStudyEquipment(equip, i)"
              ngbTooltip="Remove" [ladda]="laddaDeletingStudyEquip[i]">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </table>

  </div> <!-- /.card -->
</div>
<!-- Start model add equipment -->
<div bsModal class="modal fade bd-example-modal-lg" #addEquipModal="bs-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document" style="max-width:80%;" >
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{'EQUIPMENT' | translate}}</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="addEquipModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="equipments">
        <div class="card-group">
          <!-- Filter card -->
          <div class="card" >
            <div class="card-header" style="text-align:center;">
              <strong >{{'Selection criteria'|translate}}</strong>
            </div>
            <div class="card-body">
              <div class="row form-group">
                <div class="col-4">{{'Type of Refrigeration'|translate}}</div>
                <div class="col-8">
                  <select class="form-control" [(ngModel)]="energySelected" (change)="select_energy()">
                    <option [value]="-1">{{ 'All'|translate }}</option>
                    <option *ngFor="let energy of energies" [value]="energy.ID_COOLING_FAMILY">
                      {{ energy.LABEL }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-4">{{'Manufacturer'|translate}}</div>
                <div class="col-8">
                  <select class="form-control" [(ngModel)]="manufacturerSelected" (change)="select_manufacturer()">
                    <option value="">{{ 'All'|translate }}</option>
                    <option *ngFor="let item of manufacturers; let i = index" [value]="item.CONSTRUCTOR">
                      {{ item.CONSTRUCTOR }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-4">{{'Equipment Series'|translate}}</div>
                <div class="col-8">
                  <select class="form-control" [(ngModel)]="seriesSelected" (change)="select_family()">
                    <option [value]="-1">{{ 'All'|translate }}</option>
                    <option *ngFor="let seri of series; let i = index" [value]="seri.ID_FAMILY">
                      {{ seri.LABEL }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-4">{{'Equipment origin'|translate}}</div>
                <div class="col-8">
                  <select class="form-control" [(ngModel)]="originSelected" (change)="select_origin()">
                    <option [value]="-1">{{ 'All'|translate }}</option>
                    <option *ngFor="let origin of origins; let i = index" [value]="origin.STD">
                      {{ origin.LABEL }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-4">{{'Process type'|translate}}</div>
                <div class="col-8">
                  <select class="form-control" [(ngModel)]="processSelected" (change)="select_process_type()">
                    <option [value]="-1">{{ 'All'|translate }}</option>
                    <option *ngFor="let process of processes; let i = index" [value]="process.BATCH_PROCESS">
                      {{ process.LABEL }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-4">{{'Model'|translate}}</div>
                <div class="col-8">
                  <select class="form-control" [(ngModel)]="modelSelected" (change)="select_model()">
                    <option [value]="-1">{{ 'All'|translate }}</option>
                    <option *ngFor="let model of models; let i = index" [value]="model.ID_EQUIPSERIES">
                      {{ model.LABEL }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-4" *ngIf="symbol">{{'Size'|translate}} ({{symbol.equipDimensionSymbol}})</div>
                <div class="col-8">
                  <select class="form-control" [(ngModel)]="sizeSelected" (change)="select_size()">
                    <option value="">{{ 'All'|translate }}</option>
                    <option *ngFor="let size of sizes; let i = index" value="{{ size.EQP_LENGTH }}x{{ size.EQP_WIDTH }}">
                      {{ size.DISPLAY_LENGTH }} x {{ size.DISPLAY_WIDTH }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="card" >
            <div class="card-header" style="text-align:center;">
              <div id="equipment-search-box-container">&nbsp;
                <div class="input-group input-group-sm" id="equipment-search-box">
                  <input type="text" class="form-control" [(ngModel)]="filterString" placeholder="{{'Search'|translate}}" />
                  <span>
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
            <perfect-scrollbar style="max-height:380px;">
              <div class="list-group" name="add" >
                <a *ngFor="let equip of (equipments | filter: filterString)" class="list-group-item list-group-item-action {{equip.class}}"
                  style="height:30px; padding: 5px 10px;"  name="eid" id="eid" (click)="onSelectAddingEquipment(equip)"
                  [ngClass]="equip == selectedAddingEquipment? 'active' : ''">
                    {{equip.displayName}}
                </a>
              </div>
            </perfect-scrollbar>
          </div>

          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" (click)="addEquipModal.hide()">{{'Cancel'|translate}}</button>
        <button class="btn btn-primary" (click)="onAddEquip()" [ladda]="laddaAddingEquipment">{{'Confirm'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<!-- End model add equipment -->
<!-- Start model edit layout -->
<div bsModal class="modal fade bd-example-modal-lg" #editModal="bs-modal" role="dialog" aria-hidden="true"  >
    <div class="modal-dialog modal-primary" role="document" style="max-width:60%;" *ngIf="editLayoutForm">
      <div class="modal-content">
        <div class="modal-header"><strong >{{'TOC Wizard'|translate}}</strong>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeEditModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <h5 class="text-danger" *ngIf="equipment">{{ equipment.displayName }}</h5>
        <ng-container *ngIf="getCapability(equipment.CAPABILITIES, 8192);else notLayout">
            <div style="padding: 5px 0"><strong >Input :</strong></div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group row">
                  <div class="col-md-6" *ngIf="symbol">{{'Spaces (length x width)'|translate}} ({{symbol.prodDimensionSymbol}})</div>
                  <input type="text" class="col-md-2" style="height:30px;" [(ngModel)]="editLayoutForm.lengthInterval">
                  <div class="col-md-2"></div>
                  <input type="text"class="col-md-2" style="height:30px;" [(ngModel)]="editLayoutForm.widthInterval">
                </div>
                <div class="form-group row">
                  <div class="col-md-6">{{'Orientation'|translate}}</div>
                  <select class="form-control col-md-6" [(ngModel)]="editLayoutForm.orientation">
                      <option value="1">{{'Parallel'|translate}}</option>
                      <option value="0">{{'Perpendicular'|translate}}</option>
                  </select>
                </div>
                <div class="form-group row" *ngIf="1==0">
                  <div class="col-md-6">{{'Shelves'|translate}}</div>
                  <select class="form-control col-md-6"></select>
                </div>
                <div class="form-group row" *ngIf="1==0">
                  <div class="col-md-6" *ngIf="symbol">{{'Dimensions'|translate}} ({{'length'|translate}} x {{'width'|translate}}) ({{symbol.prodDimensionSymbol}})</div>
                  <input type="text" class="col-md-2" style="height:30px;" >
                  <div class="col-md-2"></div>
                  <input type="text"class="col-md-2" style="height:30px;">
                </div>
                <div class="form-group row" *ngIf="1==0">
                  <div class="col-md-6">{{'Number of shelves'|translate}}</div>
                  <input type="text" class="col-md-3" style="height:30px;" >
                </div>
              </div>
              <div class="col-md-4">
                <img id="stdEqpLayoutImg" style="width: 100%">
              </div>
            </div>
            <div style="padding:10px;"><strong >{{'Output'|translate}} :</strong></div>
            <table class="table  table-bordered table-sm"  >
              <thead>
                <tr *ngIf="symbol">
                  <td align="center" *ngIf="equipment.ORIENTATION == 0;else equipTitle;"><strong>Width of Spaces. ({{symbol.prodDimensionSymbol}})</strong></td>
                  <ng-template #equipTitle>
                  <td align="center"><strong>Side remaining interval ({{symbol.prodDimensionSymbol}})</strong></td>
                  </ng-template>
                  <td align="center" *ngIf="equipment.ORIENTATION == 1;else equipNumberPer;"><strong> {{'Number per tunnel length'|translate}}</strong></td>
                  <ng-template #equipNumberPer>
                  <td align="center"><strong>{{'Number of items per meter run'|translate}}. ({{symbol.shelvesWidthSymbol}})</strong></td>
                  </ng-template>
                  <td align="center"><strong> {{'Number of items in belt width'|translate}}.</strong></td>
                  <td align="center"><strong> {{'Conveyor coverage or quantity of product per batch'|translate}}</strong></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="symbol && equipment.layoutResults != ''">
                  <td align="center">{{equipment.layoutResults.LEFT_RIGHT_INTERVAL}}</td>
                  <td align="center">{{equipment.layoutResults.NUMBER_PER_M}}</td>
                  <td align="center">{{equipment.layoutResults.NUMBER_IN_WIDTH}}</td>
                  <td align="center" *ngIf="equipment">{{equipment.top_or_QperBatch}}</td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="equipment.layoutResults != ''">
              <div style="padding:10px 0;"><strong >{{'Belt coverage'|translate}} :</strong></div>
              <input type="text" class="form-control" [(ngModel)]="editLayoutForm.toc" style="height:30px;width:60px;display:inline-block"> <span>(%)</span>
            </div>
        </ng-container>
        <ng-template #notLayout>
            <div class="row" style="margin-top:20px">
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-md-3 text-right"><strong>{{'Orientation'|translate}}</strong></div>
                    <div class="col-md-6">
                      <select class="form-control" [(ngModel)]="editLayoutForm.orientation">
                          <option value="1">{{'Parallel'|translate}}</option>
                          <option value="0">{{'Perpendicular'|translate}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row" *ngIf="getCapability(equipment.CAPABILITIES, 32)">
                    <div class="col-md-3 text-right"><strong>{{'Belt coverage'|translate}}</strong></div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" [(ngModel)]="editLayoutForm.toc" style="height:30px;width:60px;display:inline-block"> <span>(%)</span>                                            
                    </div>
                  </div>
                </div>
              </div>
        </ng-template>
        <div>
          <div style="float:right;margin-right:20px;" >
            <button class="btn btn-md btn-secondary" (click)="closeEditModal()">{{'Close'|translate}}</button>
            <button class="btn btn-md btn-primary" [ladda]="laddaUpdateLayout" (click)="updateStdEquipLayout()">{{'Apply'|translate}}</button>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End model edit layout -->
<!-- Start model openrating settings -->
<div bsModal class="modal fade bd-example-modal-lg" #inputModal="bs-modal" role="dialog" aria-hidden="true"  >
  <div class="modal-dialog modal-primary" role="document" style="max-width:60%;">
    <div class="modal-content">
      <div class="modal-header"><strong >{{'Operating Settings'|translate}}</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeInputModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-danger" *ngIf="equipment">{{ equipment.displayName }}</h5>
        <div style="padding: 5px 0"><strong >{{'Operating Settings'|translate}} :</strong></div>
        <table class="table  table-bordered table-sm"  >
          <thead>
            <tr *ngIf="symbol">
              <td align="center"><strong>{{'Residence / Dwell time'|translate}} ({{symbol.timeSymbol}})</strong></td>
              <td align="center"><strong>{{'Control temperature '|translate}} ({{symbol.temperatureSymbol}})</strong></td>
              <td align="center"><strong>{{'Convection Setting '|translate}} ({{symbol.convectionSpeedSymbol}})</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="operatingSetting">
              <td align="center">
                <div *ngFor="let item of studyEquipment.ts, let i = index">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="tsValue[i]" style="width:80px">
                </div>
                <ng-container *ngIf="study.CALCULATION_MODE == 1">
                  <p></p>
                  <button class="btn btn-md btn-primary" [ladda]="laddaCalTr" (click)="calcTr()" [disabled]="studyEquipment.STD != 1 || !getCapability(studyEquipment.CAPABILITIES, 2) || !getCapability(studyEquipment.CAPABILITIES, 8)">{{'Compute Control Temperature'|translate}}</button>
                </ng-container>
              </td>
              <td align="center">
                  <div *ngFor="let item of studyEquipment.tr, let i = index">
                    <div class="form-group row" *ngIf="changeTr; else noChangeTr">
                      <div class="col-md-6">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="trValue[i]" [disabled]="disabledTr" style="width:80px">
                      </div>
                      <div class="col-md-6">
                        <img src=".assets/img/change_tr.gif" alt="Click here" (click)="changeTrStudyEquipment();">
                      </div>
                    </div>
                    <ng-template #noChangeTr>
                      <input type="text" class="form-control form-control-sm" [(ngModel)]="trValue[i]" [disabled]="disabledTr" style="width:80px">
                    </ng-template>
                  </div>
                  <ng-container *ngIf="study.CALCULATION_MODE == 1">
                    <p></p>
                    <button class="btn btn-md btn-primary" [ladda]="laddaCalTs" (click)="calcTs()" [disabled]="studyEquipment.STD != 1 || !getCapability(studyEquipment.CAPABILITIES, 2) || !getCapability(studyEquipment.CAPABILITIES, 8)">{{'Compute Residence/Dwell Time'|translate}}</button>
                  </ng-container>
              </td>
              <td align="center">
                <div *ngFor="let item of studyEquipment.vc, let i = index">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="vcValue[i]" [disabled]="statusFan" style="width:80px">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="padding: 5px 0" *ngIf="symbol"><strong >{{'Alpha'|translate}} {{symbol.convectionCoeffSymbol}} :</strong></div>
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead>
              <tr *ngIf="symbol">
                <td align="center"><strong>{{'Top'|translate}}</strong></td>
                <td align="center"><strong>{{'Bottom'|translate}}</strong></td>
                <td align="center"><strong>{{'Left'|translate}}</strong></td>
                <td align="center"><strong>{{'Right'|translate}}</strong></td>
                <td align="center"><strong>{{'Front'|translate}}</strong></td>
                <td align="center"><strong>{{'Rear'|translate}}</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center">
                  <input type="checkbox" [(ngModel)]="alphaTopFix">
                </td>
                <td align="center">
                  <input type="checkbox" [(ngModel)]="alphaBottomFix">
                </td>
                <td align="center">
                  <input type="checkbox" [(ngModel)]="alphaLeftFix">
                </td>
                <td align="center">
                  <input type="checkbox" [(ngModel)]="alphaRightFix">
                </td>
                <td align="center">
                  <input type="checkbox" [(ngModel)]="alphaFrontFix">
                </td>
                <td align="center">
                  <input type="checkbox" [(ngModel)]="alphaRearFix">
                </td>
              </tr>
              <tr>
                  <td align="center">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="alphaTop" [disabled]="!alphaTopFix" style="width:80px">
                  </td>
                  <td align="center">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="alphaBottom" [disabled]="!alphaBottomFix" style="width:80px">
                  </td>
                  <td align="center">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="alphaLeft" [disabled]="!alphaLeftFix" style="width:80px">
                  </td>
                  <td align="center">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="alphaRight" [disabled]="!alphaRightFix" style="width:80px">
                  </td>
                  <td align="center">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="alphaFront" [disabled]="!alphaFrontFix" style="width:80px">
                  </td>
                  <td align="center">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="alphaRear" [disabled]="!alphaRearFix" style="width:80px">
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="studyEquipment && getCapability(studyEquipment.CAPABILITIES, 512)">
          <div style="padding: 5px 0"><strong *ngIf="symbol">{{'Gas Temperature'|translate}} ({{symbol.temperatureSymbol}}):</strong></div>
          <div class="row">
            <div class="col-md-2" *ngIf="operatingSetting">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="studyEquipment.TExt" style="width:80px">
            </div>
          </div>
        </div>
        <div *ngIf="operatingSetting && operatingSetting.resultTempExts[0]">
          <div style="padding: 5px 0 0"><strong >{{'Gas temperature'|translate}} - ZFIII LN2:</strong></div>
          <p class="text-danger">{{'NB: data given for a input temperature of product equal to'|translate}} +20°C</p>
          <div class="table-responsive" *ngIf="operatingSetting">
            <table class="table table-bordered table-sm">
              <tbody>
                <tr>
                  <td align="center">
                    <strong *ngIf="symbol">{{'Control temperature'|translate}} ({{symbol.temperatureSymbol}})</strong>
                  </td>
                  <td align="center" style="vertical-align:middle" *ngFor="let tempExts of operatingSetting.resultTempExts">{{tempExts.TR}}</td>
                </tr>
                <tr>
                  <td align="center">
                    <strong *ngIf="symbol">{{'Gas temperature'|translate}} ({{symbol.temperatureSymbol}})</strong>
                  </td>
                  <td align="center" style="vertical-align:middle" *ngFor="let tempExts of operatingSetting.resultTempExts">{{tempExts.T_EXT}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <div>
        <div style="float:right;margin-right:20px;" >
          <button class="btn btn-md btn-secondary" (click)="closeInputModal()">{{'Close'|translate}}</button>
          <button class="btn btn-md btn-primary" (click)="saveConfig()">{{'Confirm'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- End model openrating settings -->
<app-spinner *ngIf="isLoadingView"></app-spinner>
