<div class="container" *ngIf="!isLoadingView && (productShape != 0 && productView.elements && productView.elements.length>0)">
  <app-chaining #chainingControls (loaded)="onChainingControlsLoaded()" *ngIf="study.CHAINING_CONTROLS"></app-chaining>
  <div class="card-group">
      <div class="card">
        <div class="card-header">
          <strong>{{'PRODUCT MESH'|translate}}</strong>
        </div>
        <div class="card-body" *ngIf="meshView.meshGeneration">
          <div class="row">
            <div class="col">
              <table class="table-bordered table table-sm">
                <tr>
                  <th colspan="4" class="text-center">{{'Mesh Parameters'|translate}}</th>
                </tr>
                <tr>
                  <th>{{'Mesh type'}}</th>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                </tr>
                <tr>
                  <td>
                    <div *ngIf="meshView.meshGeneration.MESH_1_FIXED == 1">{{'Regular'|translate}}</div>
                    <div *ngIf="meshView.meshGeneration.MESH_1_FIXED == 0">{{'Irregular'|translate}}</div>
                  </td>
                  <td>
                    <span *ngIf="meshView.meshGeneration.MESH_1_FIXED == 1">
                      {{meshView.meshGeneration.MESH_1_SIZE}}
                    </span>
                    <span *ngIf="meshView.meshGeneration.MESH_1_FIXED == 0">
                      {{meshView.meshGeneration.MESH_1_INT}}
                    </span>
                  </td>
                  <td>
                    <span *ngIf="meshView.meshGeneration.MESH_1_FIXED == 1">
                      {{meshView.meshGeneration.MESH_2_SIZE}}
                    </span>
                    <span *ngIf="meshView.meshGeneration.MESH_1_FIXED == 0">
                      {{meshView.meshGeneration.MESH_2_INT}}
                    </span>
                  </td>
                  <td>
                    <span *ngIf="meshView.meshGeneration.MESH_1_FIXED == 1">
                      {{meshView.meshGeneration.MESH_3_SIZE}}
                    </span>
                    <span *ngIf="meshView.meshGeneration.MESH_1_FIXED == 0">
                      {{meshView.meshGeneration.MESH_3_INT}}
                    </span>
                  </td>
                </tr>
              </table>
            </div>
            <!-- 3d shape >= 10 -->
            <div class="col" *ngIf="productShape >= 10">
              <table class="table-bordered table table-sm" *ngIf="mesh3dinfo">
                <tr>
                  <th colspan="4" class="text-center">{{'Mesh Result'|translate}}</th>
                </tr>
                <tr>
                  <th>{{ 'Points'|translate }}</th>
                  <th>{{ 'Cells'|translate }}</th>
                  <th>{{ 'Faces'|translate }}</th>
                  <th>{{ 'Boundaries'|translate }}</th>
                </tr>
                <tr>
                  <td>{{ mesh3dinfo.nb_points }}</td>
                  <td>{{ mesh3dinfo.nb_cells }}</td>
                  <td>{{ mesh3dinfo.nb_faces }}</td>
                  <td>{{ mesh3dinfo.nb_boundaries }}</td>
                </tr>
              </table>
            </div>
            <!-- End 3d shape >= 10 -->
            <div class="col" *ngIf="productShape < 10">
              <table class="table-bordered table table-sm">
                <tr>
                  <th colspan="4" class="text-center">{{'Mesh Result'|translate}}</th>
                </tr>
                <tr>
                  <th>Dim.</th>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                </tr>
                <tr>
                  <th>#Nodes</th>
                  <td>{{meshView.meshGeneration.MESH_1_NB}}</td>
                  <td>{{meshView.meshGeneration.MESH_2_NB}}</td>
                  <td>{{meshView.meshGeneration.MESH_3_NB}}</td>
                </tr>
              </table>
            </div>
            <div class="text-muted text-center mt-3 col" *ngIf="!meshView.meshGeneration">
              {{'Product has no mesh yet. Please generate'|translate}}
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-center">
          <button type="button" class="btn btn-sm btn-primary"
            [disabled]="study.CHAINING_CONTROLS && (study.HAS_CHILD || study.PARENT_ID != 0)"
            (click)="generateMesh()" [ladda]="laddaGeneratingMesh">{{'(RE)GENERATE MESH'|translate}}</button>
          <button type="button" class="btn btn-sm btn-success"
            [disabled]="study.CHAINING_CONTROLS && (study.HAS_CHILD || study.PARENT_ID != 0) || disabledField()"
            (click)="resetDefaultMesh()" [ladda]="laddaGeneratingMesh">{{'DEFAULT MESH'|translate}}</button>
        </div>
      </div>
      <div class="card product-container">
        <div class="card-header">
          <strong>{{'PRODUCT INITIAL TEMPERATURE'|translate}}</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <label class="col-sm-8 col-form-label">{{'Product name'|translate}}</label>
            <div class="col-sm-4 col-form-label">
              {{this.productView.product.PRODNAME}}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-8 col-form-label">{{'Same temperature throughout product'|translate}}</label>
            <div class="col-sm-4 col-form-label">
              <i class="fa fa-check-square" *ngIf="productView.product.PROD_ISO == 1"></i>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-8 col-form-label" *ngIf="symbol">{{'Initial temperature'|translate}} ({{symbol.temperatureSymbol}})</label>
            <div class="col-sm-4 col-form-label" *ngIf="productView.product.PROD_ISO == 0">
                {{'Non-isothermal'|translate}}
            </div>
            <div class="col-sm-4 col-form-label" *ngIf="productView.product.PROD_ISO == 1 && meshView.productIsoTemp == null">
              {{'Undefined'|translate}}
            </div>
            <div class="col-sm-4 col-form-label" *ngIf="productView.product.PROD_ISO == 1 && meshView.productIsoTemp != null">
              {{ this.meshView.productIsoTemp }}
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-center">
          <button type="button" class="btn btn-sm btn-primary"
            [disabled]="study.CHAINING_CONTROLS && (study.HAS_CHILD || study.PARENT_ID != 0) || disabledField()"
            (click)="editProductTemp()">
            {{'CHANGE'|translate}}
          </button>
          <button type="button" class="btn btn-sm btn-success"
            (click)="initTemperature()" 
            [disabled]="disabledChaining()|| disabledField()" 
            [ladda]="laddaInitializingTemp">
            {{'INITIALIZE TEMPERATURE'|translate}}
          </button>
        </div>
      </div>
      <!-- /.card -->
  </div><!-- /.card-group -->

  <div class="card mt-3">
    <div class="card-header">
      <strong>{{'PRODUCT COMPONENTS INITIAL TEMPERATURE'|translate}}</strong>
    </div>

      <table class="table table-bordered table-sm mb-0">
        <tr>
          <td align="center" width="40%">{{'Product Component'|translate}}</td>
          <td align="center" width="25%">{{'Description'|translate}}</td>
          <td align="center" width="150">{{'Same temperature throughout product'|translate}}</td>
          <td align="center" *ngIf="symbol">{{'Initial temperature'|translate}} ({{symbol.temperatureSymbol}})</td>
        </tr>
        <ng-template ngFor let-element [ngForOf]="productView.elements" let-i="index">
          <tr>
            <td>{{element.componentName}}</td>
            <td class="text-center">
              {{ element.PROD_ELMT_NAME }}
              <div *ngIf="study.CHAINING_CONTROLS && study.PARENT_ID != 0 && element.INSERT_LINE_ORDER != study.ID_STUDY">
                {{'(parent component)'|translate}}
              </div>
            </td>
            <td class="text-center">
              <i class="fa fa-check-square text-muted" *ngIf="(productView.product.PROD_ISO == 1)"></i>
              <i class="fa fa-check-square" *ngIf="(productView.product.PROD_ISO == 0) && (element.PROD_ELMT_ISO == 1)"></i>
            </td>
            <td class="text-center" *ngIf="productView.product.PROD_ISO == 0">
              <a href="javascript:void(0);" (click)="editElementTemp(element, i);loadDatatempPointChart(productView.product.ID_PROD, i);"
                *ngIf="!(study.CHAINING_CONTROLS && study.PARENT_ID != 0 && element.INSERT_LINE_ORDER != study.ID_STUDY)">
                <strong *ngIf="(element.PROD_ELMT_ISO == 1) && (meshView.productElmtInitTemp[i] == null || meshView.productElmtInitTemp[i].length == 0)">{{'Undefined'|translate}}</strong>
                <strong *ngIf="(element.PROD_ELMT_ISO == 1) && (meshView.productElmtInitTemp[i] != null && meshView.productElmtInitTemp[i].length > 0)">{{meshView.productElmtInitTemp[i][0]}}</strong>
                <strong *ngIf="(element.PROD_ELMT_ISO != 1)">{{'Non-isothermal'|translate}}</strong>
              </a>
              <a href="javascript:void(0);" (click)="showElementTemp(element);"
                *ngIf="study.CHAINING_CONTROLS && study.PARENT_ID != 0 && element.INSERT_LINE_ORDER != study.ID_STUDY">
                <strong>{{'Non-isothermal'|translate}}</strong>
              </a>
            </td>
            <td class="text-center" *ngIf="productView.product.PROD_ISO == 1">

            </td>
          </tr>
        </ng-template>
      </table>
  </div>
</div>

<!-- Initializing temperature waiting modal -->
<div class="modal fade" role="dialog" aria-hidden="true" bsModal #initTempWaitingModal="bs-modal">
  <div class="modal-dialog modal-primary">
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{'INITIALIZING TEMPERATURE'|translate}}</strong>
      </div>
      <div class="modal-body">
        <app-spinner></app-spinner>
        <p class="text-center">
          {{'Recording Initial Temperature, please wait'|translate}}
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Initializing temperature waiting modal -->
<!-- Edit Element Initial Temp Modal -->
<div class="modal fade" role="dialog" aria-hidden="true" bsModal #editElmtInitTempModal="bs-modal">
  <div class="modal-dialog modal-primary" *ngIf="elmtEditForm.elmt" [ngClass]="!elmtEditForm.isoThermal?'modal-lg':''">
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{'PRODUCT COMPONENT'|translate}}</strong>
        <button type="button" class="close pull-right" aria-label="Close"(click)="editElmtInitTempModal.hide()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row mb-2">
          <label class="col-md-7">{{'Product Component'|translate}}</label>
          <div class="col-md-5"><span>{{'components.'+elmtEditForm.elmt.ID_COMP|translate}}</span></div>
        </div>
        <div class="form-group row mb-1">
          <label class="col-md-7">{{'Same temperature througout product'}}</label>
          <div class="col-md-5">
            <label class="custom-control custom-checkbox form-check">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="elmtEditForm.isoThermal" (change)="toggleTempProfileChart()">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
        </div>
        <div class="form-group row" *ngIf="elmtEditForm.isoThermal">
          <label class="col-md-7 col-form-label">{{'Initial temperature'|translate}}</label>
          <div class="col-md-5">
            <div class="input-group">
              <input type="text" [disabled]="!elmtEditForm.isoThermal" class="form-control"
                [(ngModel)]="elmtEditForm.isoTemp" (change)="prodElmtIsoTempChanged()">
              <span class="input-group-addon" *ngIf="symbol">({{symbol.temperatureSymbol}})</span>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!elmtEditForm.isoThermal">
          <div class="col-sm-2">
            <div class="input-group">
              <span class="input-group-addon" *ngIf="symbol">{{'Nodes'|translate}} ({{symbol.meshesSymbol}})</span>
            </div>
            <div *ngFor="let position of elmtEditForm.tempPositions; let i = index">
              <div class="input-group">
                <span class="input-group-addon" style="width:100%">
                  <small>{{ elmtEditForm.tempPositions[i] }}</small>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-3" *ngIf="tempPointNewForm">
            <div class="input-group">
              <span class="input-group-addon" *ngIf="symbol">{{'Temperature'|translate}} ({{symbol.temperatureSymbol}})</span>
            </div>
            <div *ngFor="let tempPoint of tempPointNewForm.tempPoints; let i = index">
              <input type="number" id="tempPoint{{i}}" name="tempPoint{{i}}" class="form-control-sm" [(ngModel)]="tempPoint.value" (change)="updateTempPoint($event, i)" style="width:80%">
            </div>
          </div>
          <div class="col-sm-7">
            <div class="input-group">
              <!-- start app temp profile editor -->
              <app-temp-profile-editor #tempProfileChart 
              [drawing]="dataDrawing.drawing"
              [lines]="dataDrawing.lines"
              [legends]="dataDrawing.legends"
              [xValues]="dataDrawing.xValues"
              (change)="changeTempPoint($event)"
              style=" width: 100%; height: 100%; display: block;">
              </app-temp-profile-editor>
              <!-- End app temp profile editor -->
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-secondary" (click)="editElmtInitTempModal.hide()">{{'Cancel'|translate}}</button>
        <button class="btn btn-primary" *ngIf="!elmtEditForm.isoThermal" (click)="clearAll();">{{'Clear'|translate}}</button>
        <button class="btn btn-warning" *ngIf="!elmtEditForm.isoThermal" (click)="generatePoints();">{{'Generate points'|translate}}</button>
        <button class="btn btn-success" (click)="saveElementInitTemp()">{{'Confirm'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<!-- End Edit Element Initial Temp Modal -->
<!-- Edit Product Iso Initial Temp Modal -->
<div class="modal fade" role="dialog" aria-hidden="true" bsModal #isoTempEditModal="bs-modal" *ngIf="productShape != 0 && productView.elements && productView.elements.length > 0">
  <div class="modal-dialog modal-primary">
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{'PRODUCT TEMPERATURE INIT'|translate}}</strong>
        <button type="button" class="close pull-right" aria-label="Close" (click)="isoTempEditModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <label class="col-sm-7 col-form-label">{{'Product name'|translate}}</label>
          <div class="col-sm-5 col-form-label">
            {{this.productView.product.PRODNAME}}
          </div>
        </div>
        <div class="row">
          <label class="col-sm-7 col-form-label">{{'Same temperature throughout product'|translate}}</label>
          <div class="col-sm-5 col-form-label">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="refContRepConsOverall" id="" [(ngModel)]="productTempForm.flagIsoTemp">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-7 col-form-label" *ngIf="symbol">{{'Initial temperature'|translate}} ({{symbol.temperatureSymbol}})</label>
          <div class="col-sm-5 col-form-label">
            <input type="text" class="form-control" [disabled]="!productTempForm.flagIsoTemp" [(ngModel)]="productTempForm.initTemp">
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-secondary" (click)="isoTempEditModal.hide()">{{'Cancel'|translate}}</button>
        <button class="btn btn-primary" (click)="saveProductInitTemp()">{{'Confirm'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<!-- End Edit Product Iso Initial Temp Modal -->
<!-- Edit Mesh Generate Parameters Modal -->
<div class="modal fade" role="dialog" aria-hidden="true" bsModal #meshParametersModal="bs-modal" *ngIf="meshParamsForm">
  <div class="modal-dialog modal-primary">
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{'MESH GENERATION'|translate}}</strong>
        <button type="button" class="close pull-right" aria-label="Close" (click)="meshParametersModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-md-5 col-form-label">
            {{'Type of mesh'|translate}}
          </label>
          <div class="col-md-7">
            <label class="custom-control custom-radio">
              <input id="radio1" name="radio" type="radio" [(ngModel)]="meshParamsForm.mesh_type" class="custom-control-input" [value]="1" [disabled]="disabledField()">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'Regular'|translate}}</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="radio2" name="radio" type="radio" [(ngModel)]="meshParamsForm.mesh_type" class="custom-control-input" [value]="0" [disabled]="disabledField()">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'Irregular'|translate}}</span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-5 col-form-label" for="mesh1param">
            {{'Mesh size 1'|translate}}
          </label>
          <div class="col-md-7">
            <div class="input-group">
              <input type="text" class="form-control" id="mesh1param"
                [(ngModel)]="meshParamsForm.size1"
                [disabled]="meshSize1Disable || disabledField()">
              <span class="input-group-addon" *ngIf="symbol">{{symbol.meshesSymbol}}</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-5 col-form-label" for="mesh2param">
            {{'Mesh size 2'|translate}}
          </label>
          <div class="col-md-7">
            <div class="input-group">
              <input type="text" class="form-control" id="mesh2param" [(ngModel)]="meshParamsForm.size2" [disabled]="disabledField()">
              <span class="input-group-addon" *ngIf="symbol">{{symbol.meshesSymbol}}</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-5 col-form-label" for="mesh3param">
            {{'Mesh size 3'|translate}}
          </label>
          <div class="col-md-7">
            <div class="input-group">
              <input type="text" class="form-control" id="mesh3param"
                [(ngModel)]="meshParamsForm.size3"
                [disabled]="meshSize3Disable || disabledField()">
              <span class="input-group-addon" *ngIf="symbol">{{symbol.meshesSymbol}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-secondary" (click)="meshParametersModal.hide()">{{'Cancel'|translate}}</button>
        <button class="btn btn-primary" (click)="generateMeshWithParameters()" [disabled]="disabledField()">{{'Confirm'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<!-- End Edit Mesh Generate Parameters Modal -->

<app-spinner *ngIf="isLoadingView"></app-spinner>
