<div class="container" *ngIf="study">
  
  <div class="card product-container">
    <div class="card-header text-center">
      <div class="btn-group" role="group">
        <button class="btn btn-outline-primary btn-sm" (click)="loadLocation()" [class.active]="activePage == 'location'">{{'Location'|translate}}</button>
        <button class="btn btn-outline-primary btn-sm" (click)="loadheadExchage()" [class.active]="activePage == 'heatExchange'">{{'Heat Exchange'|translate}}</button>
        <button class="btn btn-outline-primary btn-sm" (click)="loadProductSection()" [class.active]="activePage == 'productSection'">{{'Product Section'|translate}}</button>
        <button class="btn btn-outline-primary btn-sm" (click)="loadTimeBased()" [class.active]="activePage == 'timeBased'">{{'Time Based'|translate}}</button>
        <button class="btn btn-outline-primary btn-sm" *ngIf="shape != 1 && shape !=6" (click)="loadOutlines2d()" [class.active]="activePage == 'outlines2d'">{{'2D Outlines'|translate}}</button>
      </div>
    </div>

    <div class="card-body" *ngIf="outputProductChartList != ''">
      <div *ngIf="displayLocationPage == true" style="position:relative;min-height:500px">
        <div *ngIf="loadLocationData == false" class="text-center" id="showLoaderLocation"></div>
        <ng-container *ngIf="loadLocationData == true">
        <h5 class="text-danger" style="font-weight:600">{{'Selection criteria'|translate}}</h5>
        <div class="row">
          <div class="col-md-12">
            <div class="form-horizontal">
              <div class="row form-group">
                <label class="col-md-2 col-form-label">
                  {{'Equipment'|translate}}
                </label>
                <div class="col-md-4">
                  <select name="" [(ngModel)]="selectedEquip" (ngModelChange)="changeEquipment()" class="form-control">
                    <ng-container *ngFor="let equip of outputProductChartList">
                    <option *ngIf="equip" [value]="equip.ID_STUDY_EQUIPMENTS">{{equip.displayName}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <label class="col-md-2 col-form-label">
                  {{'Number of samples'|translate}}
                </label>
                <div class="col-md-2">
                  <input type="text" class="form-control" [(ngModel)]="nbSteps" [disabled]="disableChange">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="img_pararel text-center">
                <img *ngIf="folderImg" [src]="imgProd3D">
            </div>
          </div>
          <div class="col-md-6">
            <div class="row form-group" >
              <div class="col-md-10">
                <div class="row form-group">
                  <div class="col-md-4 text-center">
                    <button class="btn btn-block btn-outline-primary" [class.active]="activeBtn == 'points'" (click)="selectPoints()">Points</button>
                  </div>
                  <div class="col-md-4 text-center">
                    <button class="btn btn-block btn-outline-primary" [class.active]="activeBtn == 'axis'" (click)="selectAxis()">Axis</button>
                  </div>
                  <div class="col-md-4 text-center">
                    <button class="btn btn-block btn-outline-primary" [disabled]="planDisabled" [class.active]="activeBtn == 'plans'" (click)="selectPlans()">Plans</button>
                  </div>
                </div>
                <div class="row form-group" style="margin-top:30px;height:30px">
                  <div class="col-md-4 text-center">
                    <label class="custom-control custom-radio" style="margin:0">
                      <input type="radio" name="rbpoint" [value]= "0" (change)="onrbChange(recordType, 0)" class="custom-control-input" [disabled]="radio1Disable" [ngModel]="radioChecked">{{rbpoint01}}
                      <span class="custom-control-indicator"></span>
                    </label>
                  </div>
                  <div class="col-md-4 text-center">
                    <label class="custom-control custom-radio" style="margin:0">
                      <input type="radio" name="rbpoint" [value]= "1" (change)="onrbChange(recordType, 1)" class="custom-control-input" [disabled]="radio2Disable" [ngModel]="radioChecked">{{rbpoint02}}
                      <span class="custom-control-indicator"></span>
                    </label>
                  </div>
                  <div class="col-md-4 text-center">
                    <label class="custom-control custom-radio" style="margin:0">
                      <input type="radio" name="rbpoint" [value]= "2" (change)="onrbChange(recordType, 2)" class="custom-control-input" [disabled]="radio3Disable" [ngModel]="radioChecked">{{rbpoint03}}
                      <span class="custom-control-indicator"></span>
                    </label>
                  </div>
                </div>
                <div class="row" *ngIf="shape <= 9;else shapePointNew">
                  <ng-container *ngIf="shape != 5 && shape != 8; else shapeFull">
                      <div class="col-md-4">
                        <div class="row">
                            <label class="col-md-3 col-form-label text-success">X</label>
                            <div class="col-md-9">
                              <select class="form-control" (change)="changeX()" [(ngModel)]="mesAxisXSelected" [disabled]="select1Disable">
                                <option *ngFor="let axis of mesAxisX" [value]="axis.value">{{ axis.name }}</option>
                              </select>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                            <label class="col-md-3 col-form-label text-primary">Y</label>
                            <div class="col-md-9">
                              <select class="form-control" (change)="changeY()" [(ngModel)]="mesAxisYSelected" [disabled]="select2Disable">
                                <option *ngFor="let axis of mesAxisY" [value]="axis.value">{{ axis.name }}</option>
                              </select>
                            </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #shapeFull>
                      <div class="col-md-4">
                        <div class="row">
                            <strong class="col-md-3 col-form-label text-success">X</strong>
                            <div class="col-md-9">
                              <select class="form-control" (change)="changeY()" [(ngModel)]="mesAxisYSelected" [disabled]="select2Disable">
                                <option *ngFor="let axis of mesAxisY" [value]="axis.value">{{ axis.name }}</option>
                              </select>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                            <label class="col-md-3 col-form-label text-primary">Y</label>
                            <div class="col-md-9">
                              <select class="form-control"  (change)="changeX()" [(ngModel)]="mesAxisXSelected" [disabled]="select1Disable">
                                <option *ngFor="let axis of mesAxisX" [value]="axis.value">{{ axis.name }}</option>
                              </select>
                            </div>
                        </div>
                      </div>
                    </ng-template>
                    <div class="col-md-4">
                      <div class="row">
                          <label class="col-md-3 col-form-label text-warning">Z</label>
                          <div class="col-md-9">
                            <select class="form-control" (change)="changeZ()" [(ngModel)]="mesAxisZSelected" [disabled]="select3Disable">
                              <option *ngFor="let axis of mesAxisZ" [value]="axis.value">{{ axis.name }}</option>
                            </select>
                          </div>
                      </div>
                    </div>
                </div>
                <ng-template #shapePointNew>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="row">
                          <label class="col-md-3 col-form-label text-success">X</label>
                          <div class="col-md-9">
                            <select class="form-control" [disabled]="select1Disable">
                              <option *ngIf="pointSelectedUnitX != ''" [value]="pointSelectedValueX">{{ pointSelectedValueX }}</option>
                            </select>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                          <label class="col-md-3 col-form-label text-primary">Y</label>
                          <div class="col-md-9">
                            <select class="form-control" [disabled]="select2Disable">
                              <option *ngIf="pointSelectedUnitY != ''" [value]="pointSelectedValueY">{{ pointSelectedValueY }}</option>
                            </select>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                          <label class="col-md-3 col-form-label text-primary">Z</label>
                          <div class="col-md-9">
                            <select class="form-control" [disabled]="select3Disable">
                              <option  [value]="pointSelectedValueZ">{{ pointSelectedValueZ }}</option>
                            </select>
                          </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class="col-md-2" *ngIf="symbol" style="margin-top:116px">
                <strong class="text-danger" *ngIf="shape <= 9;else meshSymbol3d">{{symbol.meshesSymbol}}</strong>
                <ng-template #meshSymbol3d>
                <strong class="text-danger">m</strong>                
                </ng-template>
              </div>
            </div>
            <div class="row form-group" *ngIf="shape < 10">
              <div class="col-md-12 text-center">
                <button class="btn btn-success" (click)="saveAll()" [disabled]="disableChange">Save</button>
              </div>
            </div>
            <div class="text-center" style="padding-top:15px">
                <img *ngIf="folderImg" src="assets/img/output/{{folderImg}}/orientation.png">
            </div>
          </div>
        </div>
      </ng-container>
      </div>
      <div *ngIf="displayHeatExchangePage == true" style="position:relative;min-height:500px">
        <div *ngIf="loadHeatExchangeData == false" class="text-center" id="showLoader"></div>
        <tabset *ngIf="loadHeatExchangeData == true">
          <tab>
            <ng-template tabHeading><i class="icon-graph"></i> {{'Curve'|translate}}</ng-template>
            <h5 class="text-danger" style="font-weight:600">{{'Curve'|translate}}</h5>
            <div class="text-center" *ngIf="outputProductChart"><h4 style="color:#f00">{{outputProductChart.displayName}}</h4></div>
            <div *ngIf="imageHeatExchange != ''">
              <img [src]="imageHeatExchange">
            </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="icon-doc"></i> {{'Value'|translate}}</ng-template>
            <h5 class="text-danger" style="font-weight:600">{{'Value'|translate}}</h5>
            <h6 class="text-primary text-center" *ngIf="symbol">{{'Enthalpy'|translate}} ({{symbol.enthalpySymbol}}) vs {{'Time'|translate}} ({{symbol.timeSymbol}})</h6>
            <div class="table-responsive">
              <table class="table table-bordered table-sm">
                <tr>
                    <th>{{'Equipment'|translate}}</th>
                    <ng-container *ngFor="let result of headExchangeResult">
                    <th class="text-center">{{result.x}}</th>
                    </ng-container>
                </tr>
                <tr>
                  <td *ngIf="outputProductChart">{{outputProductChart.displayName}}</td>
                  <ng-container *ngFor="let result of headExchangeResult">
                  <td class="text-center">{{result.y}}</td>
                  </ng-container>
                </tr>
              </table>
            </div>
          </tab>
        </tabset>
      </div>
      <div *ngIf="displayProductSectionPage == true" style="position:relative;min-height:500px">
        <div *ngIf="loadProductSectionData == false" class="text-center" id="showLoaderProductSection"></div>
        <ng-container *ngIf="loadProductSectionData == true">
          <div class="text-center" *ngIf="outputProductChart"><h4 style="color:#f00">{{outputProductChart.displayName}}</h4></div>
          <h5 class="text-danger" style="font-weight:600">{{'Select'|translate}}</h5>
          <div class="row">
            <div class="col-md-10" style="margin-top:80px">
              <div class="row">
                <div class="col-md-4 text-center" *ngIf="shape !=1 && shape != 6">
                  <label class="custom-control custom-radio" style="margin:0">
                    <input type="radio" name="selectAxe" [value]= "1" (change)="changeAxePS()" class="custom-control-input" [(ngModel)]="selectedAxe" [disabled]="axis1Disable">{{'Axis 1'|translate}}
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
                <div class="col-md-4 text-center">
                  <label class="custom-control custom-radio" style="margin:0">
                    <input type="radio" name="selectAxe" [value]= "2" (change)="changeAxePS()" class="custom-control-input" [(ngModel)]="selectedAxe" [disabled]="axis2Disable">{{'Axis 2'|translate}}
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
                <div class="col-md-4 text-center" *ngIf="shape ==3 || shape == 2 || shape == 9 || shape > 9">
                  <label class="custom-control custom-radio" style="margin:0">
                    <input type="radio" name="selectAxe" [value]= "3" (change)="changeAxePS()" class="custom-control-input" [(ngModel)]="selectedAxe" [disabled]="axis3Disable">{{'Axis 3'|translate}}
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-center">
              <img *ngIf="folderImg" src="assets/img/output/{{folderImg}}/orientation.png">
            </div>
          </div>
          <tabset>
            <tab>
              <ng-template tabHeading><i class="icon-graph"></i> {{'Curve'|translate}}</ng-template>
              <h6 class="text-danger text-center" *ngIf="symbol && shape <= 9">{{'Graphic on the axis'|translate}} {{selectedAxe}} ({{productSectionAxisTemp}}) ({{symbol.prodchartDimensionSymbol}})</h6>            
              <h6 class="text-danger text-center" *ngIf="symbol && shape > 9">{{'Graphic on the axis'|translate}} {{selectedAxe}} ({{productSectionAxisTemp}}) (m)</h6>            
              <div *ngIf="imageProductSection != ''">
                <img [src]="imageProductSection">
              </div>
            </tab>
            <tab>
              <ng-template tabHeading><i class="icon-doc"></i> {{'Value'|translate}}</ng-template>
              <div class="row form-group" *ngIf="shape < 10">
                <div class="col-md-2">
                  <h5 class="text-danger" style="font-weight:600;margin-top:5px">{{'Curve number'|translate}}</h5>
                </div>
                <div class="col-md-2 text-center">
                  <input type="text" value="{{nbSteps}}" [(ngModel)]="NB_STEPS" class="form-control" [disabled]="disableChange">
                </div>
                <div class="col-md-2 text-center">
                  <button class="btn btn-primary" (click)="saveNbStep()" [disabled]="disableChange">{{'Refresh'|translate}}</button>
                </div>
              </div>
              <h6 class="text-danger text-center" *ngIf="symbol">{{'Table on the axis'|translate}} {{selectedAxe}} ({{productSectionAxisTemp}}) ({{symbol.prodchartDimensionSymbol}})</h6>
              <div class="table-responsive" style="height:300px">
                <table class="table table-bordered table-sm">
                    <tr *ngIf="symbol">
                      <th class="text-center">{{'Node number'|translate}}</th>
                      <th class="text-center">{{'Position Axis'|translate}} {{selectedAxe}}<br>({{symbol.prodchartDimensionSymbol}})</th>
                      <ng-container *ngFor="let result of productSectionResult">
                        <th *ngIf="result" class="text-center">{{'Temperature at'|translate}}<br>{{result}} {{symbol.timeSymbol}}<br>({{symbol.temperatureSymbol}})</th>
                      </ng-container>
                    </tr>
                    <ng-container *ngFor="let items of productSectionValue, let i = index">
                      <tr>
                        <td class="text-center">{{i}}</td>
                        <td class="text-center">{{productSectionMesAxis[i]}}</td>
                        <ng-container *ngFor="let item of items">
                        <td class="text-center">{{item}}</td>
                      </ng-container>
                      </tr>
                    </ng-container>
                  </table>
              </div>
            </tab>
          </tabset>
      </ng-container>
      </div>
      <div *ngIf="displayTimeBasePage == true" style="position:relative;min-height:500px">
        <div *ngIf="loadTimeBaseData == false" class="text-center" id="showLoaderTimeBased"></div>
        <tabset *ngIf="loadTimeBaseData == true">
          <tab>
            <ng-template tabHeading><i class="icon-graph"></i> {{'Curve'|translate}}</ng-template> 
            <h5 class="text-danger" style="font-weight:600">{{'Curve'|translate}}</h5>
            <div class="text-center" *ngIf="outputProductChart"><h4 style="color:#f00">{{outputProductChart.displayName}}</h4></div>
            <div *ngIf="imageTimeBased != ''">
              <img [src]="imageTimeBased">
            </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="icon-doc"></i> {{'Value'|translate}}</ng-template>
            <h5 class="text-danger" style="font-weight:600">{{'Value'|translate}}</h5>
            <div class="text-center" *ngIf="outputProductChart"><h4 style="color:#f00">{{outputProductChart.displayName}}</h4></div>
            <h6 class="text-primary text-center" *ngIf="symbol">{{'Temperature'|translate}} ({{symbol.temperatureSymbol}}) vs {{'Time'|translate}} ({{symbol.timeSymbol}})</h6>
            <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <tr>
                    <th class="text-center">{{'Points'|translate}}</th>
                    <ng-container *ngFor="let result of timeBasedResult">
                    <th *ngIf="result.points" class="text-center">{{result.points}}</th>
                    </ng-container>
                </tr>
                <tr *ngIf="timeBasedLabel">
                  <td class="text-center">{{'Top'|translate}}({{timeBasedLabel.top}})</td>
                  <ng-container *ngFor="let result of timeBasedResult">
                  <td *ngIf="result.top" class="text-center">{{result.top}}</td>
                  </ng-container>
                </tr>
                <tr *ngIf="timeBasedLabel">
                  <td class="text-center">{{'Internal'|translate}}({{timeBasedLabel.int}})</td>
                  <ng-container *ngFor="let result of timeBasedResult">
                  <td *ngIf="result.int" class="text-center">{{result.int}}</td>
                  </ng-container>
                </tr>
                <tr *ngIf="timeBasedLabel">
                  <td class="text-center">{{'Bottom'|translate}}({{timeBasedLabel.bot}})</td>
                  <ng-container *ngFor="let result of timeBasedResult">
                  <td *ngIf="result.bot" class="text-center">{{result.bot}}</td>
                  </ng-container>
                </tr>
                <tr *ngIf="timeBasedLabel">
                  <td class="text-center">{{'Average temperature'|translate}}</td>
                  <ng-container *ngFor="let result of timeBasedResult">
                  <td *ngIf="result.average" class="text-center">{{result.average}}</td>
                  </ng-container>
                </tr>
              </table>
            </div>
          </tab>
        </tabset>
      </div>
      <div *ngIf="display2dOutlinePage == true" style="position:relative;min-height:500px">
        <div *ngIf="loadProductChart == false || loadProductChartData == false" class="text-center" id="showLoaderOutline"></div>
        <ng-container *ngIf="loadProductChartData == true">
          <div class="text-center form-group" *ngIf="outputProductChart"><h4 style="color:#f00">{{outputProductChart.displayName}}</h4></div>
          <div class="row" *ngIf="symbol">
            <div class="col-md-4">
              <div class="row">
                <label class="col-md-6 col-form-label text-right">
                  {{'Temperature Step'|translate}}
                </label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="temperatureStep" [(ngModel)]="temperatureStep" [disabled]="shape > 9">
                </div>
                <label class="col-md-2 col-form-label">({{symbol.temperatureSymbol}})</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <label class="col-md-6 col-form-label text-right">
                  {{'Temperature Min'|translate}}
                </label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="temperatureMin" [(ngModel)]="temperatureMin" [disabled]="shape > 9">
                </div>
                <label class="col-md-2 col-form-label">({{symbol.temperatureSymbol}})</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <label class="col-md-6 col-form-label text-right">
                  {{'Temperature Max'|translate}}
                </label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="temperatureMax" [(ngModel)]="temperatureMax" [disabled]="shape > 9">
                </div>
                <label class="col-md-2 col-form-label">({{symbol.temperatureSymbol}})</label>
              </div>
            </div>
          </div>
          <p class="text-primary">{{'The bounds of the interval temperature must be outside the minimum and maximum temperatures reached by the product. Each of these bounds must be a multiple of the temperature step'|translate}}</p>
          <div class="clearfix form-group" *ngIf="shape < 10">
            <button class="btn btn-primary pull-right" (click)="refreshStaticTemp()">{{'Refresh'|translate}}</button>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <label class="custom-control custom-radio" style="margin:0" *ngIf="outline2Ddata">
                <input type="radio" name="selectPlan" [value]= "3" [(ngModel)]="selectedPlan" [disabled]="plan3Disable" (change)="changeSelectedPlan()" class="custom-control-input">{{'Slice 12'|translate}} (*,*,{{outline2Ddata.z}})
                <span class="custom-control-indicator"></span>
              </label>
            </div>
            <ng-container *ngIf="shape != 5 && shape != 4 && shape != 7 && shape != 8">
            <div class="col-md-4 text-center">
              <label class="custom-control custom-radio" style="margin:0" *ngIf="outline2Ddata">
                <input type="radio" name="selectPlan" [value]= "2" [(ngModel)]="selectedPlan" [disabled]="plan2Disable" (change)="changeSelectedPlan()" class="custom-control-input">{{'Slice 13'|translate}} (*,{{outline2Ddata.y}},*)
                <span class="custom-control-indicator"></span>
              </label>
            </div>
            <div class="col-md-4 text-center">
              <label class="custom-control custom-radio" style="margin:0" *ngIf="outline2Ddata">
                <input type="radio" name="selectPlan" [value]= "1" [(ngModel)]="selectedPlan" [disabled]="plan1Disable" (change)="changeSelectedPlan()" class="custom-control-input">{{'Slice 23'|translate}} ({{outline2Ddata.x}},*,*)
                <span class="custom-control-indicator"></span>
              </label>
            </div>
            </ng-container>
          </div>
          <div style="margin-top:30px">
            <div class="row">
              <div class="col-md-6">
                <h5 class="text-danger" style="font-weight:600;margin-bottom:20px">{{'Fixed graphic'|translate}}</h5>
                <div class="row form-group" *ngIf="symbol">
                  <label class="col-md-6 col-form-label text-right">
                    {{'Time Record'|translate}} ({{symbol.timeSymbol}}) :
                  </label>
                  <div class="col-md-6">
                    <select name="selectRecordTime" [(ngModel)]="timeSelected" class="form-control">
                      <ng-container *ngFor="let time of timeRecords">
                      <option [value]="time.RECORD_TIME">{{ time.RECORD_TIME }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="clearfix">
                  <div class="form-group pull-right" style="padding-top:10px">
                    <button type="button" class="btn btn-primary" (click)="refreshStatic()">{{'Refresh'|translate}}</button>
                    <button type="button" class="btn btn-primary" (click)="rewindForwardStatic(0)">{{'Rewind'|translate}}</button>
                    <button type="button" class="btn btn-primary" (click)="rewindForwardStatic(1)">{{'Forward'|translate}}</button>
                    <button type="button" class="btn btn-primary" (click)="getValueContour()" [ladda]="laddaViewContourValue">{{'Values'|translate}}</button>
                  </div>
                </div>
                
                <h5 class="text-danger" style="font-weight:600;margin:20px 0">{{'Animated graphic'|translate}}</h5>
                <div class="row form-group" *ngIf="symbol">
                  <label class="col-md-6 col-form-label text-right">
                    {{'Interval of time'|translate}} ({{symbol.timeSymbol}}) :
                  </label>
                  <div class="col-md-6">
                    <input type="text" id="timeInterval" class="form-control" [(ngModel)]="timeInterval">
                  </div>
                </div>
                <div class="row form-group" *ngIf="symbol">
                  <label class="col-md-6 col-form-label text-right">
                    {{'Animation speed (sec./image)'|translate}}:
                  </label>
                  <div class="col-md-6">
                    <select name="selectSpeedAnimation" [(ngModel)]="selectedSpeed" class="form-control">
                      <ng-container *ngFor="let speed of speedAnimation">
                      <option [value]="speed">{{ speed }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="form-group text-right" style="padding-top:10px">
                  <button type="button" class="btn btn-primary" (click)="refreshAnim()">{{'Refresh'|translate}}</button>
                  <button type="button" class="btn btn-primary" (click)="stopAnimationContour()">{{'Stop'|translate}}</button>
                </div>
              </div>
              <div class="col-md-6" style="min-height:540px">
                <div *ngIf="displayContourChart == true;">
                  <img [src]="contourImage.src">
                </div>
                <div *ngIf="contourImages.length > 0 && displayContourChart == false">
                  <img *ngFor="let image of contourImages; let i = index" [src]="image.src" [class.hidden]="i != activeContour">
                  <label class="col-form-label">({{ sort }}/{{contourImages.length}})</label>
                  <div class="progress" *ngIf="percent">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width.%': percent}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
</div>

<div bsModal class="modal modal-primary fade" #valuesModal="bs-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center" style="width:100%">
            <h5>{{'Array Of Values'|translate}}</h5>
        </div>
        <button class="close" arria-label="Close" data-dismiss="modal" (click)="valuesModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="max-height: 750px;overflow: auto">
          <table class="table table-bordered table-sm mb-0 text-center" *ngIf="symbol">
            <thead>
              <tr>
                <th>{{ 'dim'|translate }}{{axisX}}-{{'coordinate'|translate }} ({{ symbol.prodchartDimensionSymbol }})</th>
                <th>{{ 'dim'|translate }}{{axisY}}-{{'coordinate'|translate }} ({{ symbol.prodchartDimensionSymbol }})</th>
                <th>{{ 'Temperature'|translate }} ({{ symbol.temperatureSymbol }})</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let value of contourValue, let i = index">
                <td align="center" style="vertical-align:middle">
                  <span>{{ value.X }}</span>
                </td>
                <td align="center" style="vertical-align:middle">
                  <span>{{ value.Y }}</span>
                </td>
                <td align="center" style="vertical-align:middle">
                  <span>{{ value.Z }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center" style="margin-top: 25px;">
            <button class="btn btn-secondary" data-dismiss="modal" (click)="valuesModal.hide()">{{ 'Close'|translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

