.input-small {
    padding: 3px;
}
.card-status {
    margin: auto;
    padding-top: 25px;
}
.study-search-box {
    span {
        position: absolute;
        top: 3px;
        right: 6px;
        z-index: 999;
        color: #a9a9a9;
    }
}

.btn-equipment {
    margin: auto;
}

.highcharts-credits {
    display: none;
}

.equip-text {
    text-align: inherit;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-top: 10px;
}
