.card-status {
    margin: auto;
    padding-top: 25px;
}

#study-list-card {
    .list-group {
        .list-group-item {
            border-left: none;
            border-right: none;
            cursor: pointer;
        }
        .list-group-item:first-child{
            border-top: none !important;
        }
        .list-group-item:last-child{
            border-bottom: none !important;
        }

    }
}

#study-search-box {
    span {
        position: absolute;
        top: 3px;
        right: 6px;
        z-index: 999;
        color: #a9a9a9;
    }
}

#study-search-box-container {
    position: absolute;
    top: 8px;
    right: 12px;
}

.txt-component {
    color : #FF6633;
    padding: 10px;
    text-transform: uppercase;
}

.freeze-com {
    padding-bottom: 10px;
}

.study-search-box {
  span {
    position: absolute;
    top: 3px;
    right: 6px;
    z-index: 999;
    color: #a9a9a9;
  }
}

.btn-component {
    margin: auto;
}



