<div class="container" *ngIf="!isLoading">
  <div class="card product-container">
    <div class="card-header text-center">
      <div class="btn-group" role="group">
        <button class="btn btn-outline-primary btn-sm" [class.active]="activePageComponent == 'new'" (click)="openNewComponent()">{{ 'Component'|translate }}</button>
        <button class="btn btn-outline-primary btn-sm" [class.active]="activePageComponent == 'gen'" *ngIf="selectComponent"
        (click)="openDataGenerateComponent()" [disabled]="selectComponent.COMP_GEN_STATUS != 1" (click)="getGeneratedData(selectComponent);">{{ 'Data generated'|translate }}</button>
      </div>
    </div>
    <div class="card-body">
      <!-- Component -->
      <div style="margin-top:10px;" id="page-new-component" *ngIf="!isLoading">
        <div class="row">
          <div class="col-md-5">
            <div class="card">
              <div class="card-header">
                <div class="input-group input-group-sm study-search-box">
                  <input type="text" class="form-control" [(ngModel)]="filterString" placeholder="{{'Search'|translate}}" />
                  <span>
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <perfect-scrollbar style="max-height: 400px;" *ngIf="components">
                <div class="list-group">
                  <h6 class="dropdown-header">MINE</h6>
                  <a *ngFor="let comp of (components.mine | pipeLineFilter: filterString)" [ngClass]="checkActiveComp == comp.ID_COMP || comp == selectComponent? 'active' : ''"
                    (click)="onSelectComponent(comp);onGetTemperature(comp);" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between" *ngIf="comp.COMP_RELEASE == 7; else release7mine">
                      {{ comp.LABEL }} - (v{{ comp.COMP_VERSION }}) - (@) - {{ userLogon.USERNAM }}
                      <i *ngIf="comp.COMP_RELEASE == 3" class="fa fa-check text-success"></i>
                      <i *ngIf="comp.COMP_RELEASE == 6" class="fa fa-lock text-secondary"></i>
                      <i *ngIf="comp.COMP_RELEASE == 4" class="fa fa-certificate text-success"></i> 
                      <i *ngIf="comp.COMP_RELEASE == 9" class="fa fa-exclamation-circle text-danger"></i>
                      <!-- <i class="fa fa-trash text-secondary"></i>
                            <i class="fa fa-exclamation-circle text-danger"></i> -->
                    </div>
                    <ng-template #release7mine>
                        <div class="d-flex w-100 justify-content-between">
                            {{ comp.LABEL }} - (v{{ comp.COMP_VERSION }}) - {{ userLogon.USERNAM }}
                            <i *ngIf="comp.COMP_RELEASE == 3" class="fa fa-check text-success"></i>
                            <i *ngIf="comp.COMP_RELEASE == 6" class="fa fa-lock text-secondary"></i>
                            <i *ngIf="comp.COMP_RELEASE == 4" class="fa fa-certificate text-success"></i>
                            <i *ngIf="comp.COMP_RELEASE == 9" class="fa fa-exclamation-circle text-danger"></i>
                            <!-- <i class="fa fa-lock text-secondary"></i>
                                  <i class="fa fa-info-circle text-danger"></i>  -->
                          </div>
                    </ng-template>
                  </a>
                  <h6 class="dropdown-header">OTHERS</h6>
                  <a *ngFor="let comp of (components.others | pipeLineFilter: filterString)" [ngClass]="checkActiveComp == comp.ID_COMP || comp == selectComponent? 'active' : ''"
                    (click)="onSelectComponent(comp);onGetTemperature(comp);" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between" *ngIf="comp.ID_USER == 1; else kernellabel">
                      {{ comp.LABEL }}
                      <i *ngIf="comp.COMP_RELEASE == 3" class="fa fa-check text-success"></i>
                      <i *ngIf="comp.COMP_RELEASE == 6" class="fa fa-lock text-secondary"></i>
                      <i *ngIf="comp.COMP_RELEASE == 4" class="fa fa-certificate text-success"></i>
                      <i *ngIf="comp.COMP_RELEASE == 9" class="fa fa-exclamation-circle text-danger"></i>
                      <!-- <i class="fa fa-lock text-secondary"></i>
                            <i class="fa fa-info-circle text-danger"></i>  -->
                    </div>
                    <ng-template #kernellabel>
                        <div class="d-flex w-100 justify-content-between">
                            {{ comp.LABEL }} - {{ comp.USERNAM }}
                            <i *ngIf="comp.COMP_RELEASE == 3" class="fa fa-check text-success"></i>
                            <i *ngIf="comp.COMP_RELEASE == 6" class="fa fa-lock text-secondary"></i>
                            <i *ngIf="comp.COMP_RELEASE == 4" class="fa fa-certificate text-success"></i>
                            <i *ngIf="comp.COMP_RELEASE == 9" class="fa fa-exclamation-circle text-danger"></i>
                            <!-- <i class="fa fa-lock text-secondary"></i>
                                  <i class="fa fa-info-circle text-danger"></i>  -->
                          </div>
                    </ng-template>
                  </a>
                </div>
              </perfect-scrollbar>
              <div class="card-footer text-center">
                <button type="button" class="btn btn-success btn-sm" (click)="modalAddComponent.show();onResetData();">
                  <i class="fa fa-plus"></i> {{ 'Add'|translate }}</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteComponent(selectComponent);" [disabled]="selectComponent.ID_USER != dataComponent.ID_USER"
                  *ngIf="selectComponent && selectComponent.COMP_RELEASE != 6">
                  <i class="fa fa-trash-o"></i> {{ 'Delete'|translate }}</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="modalSaveAsComponent.show();" *ngIf="selectComponent && selectComponent.COMP_RELEASE != 6">
                  <i class="fa fa-copy"></i> {{ 'Save as'|translate }}</button>
                <button type="button" class="btn btn-primary btn-sm" (click)="refrestComponent();">
                  <i class="fa fa-refresh"></i> {{ 'Refresh'|translate }}</button>
              </div>
            </div>
            <div *ngIf="selectComponent && !checkHideInfo">
              <div class="card" *ngIf="selectComponent && selectComponent.COMP_RELEASE != 6">
                <div class="card-header">
                  <strong>{{ 'STATUS'|translate }}</strong>
                </div>
                <div class="row card-status">
                  <div class="col">
                    <div class="col-md-2" align="center">
                      <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="statusComp"  [value]="1" [(ngModel)]="selectComponent.COMP_RELEASE" 
                        [disabled]="selectComponent.COMP_RELEASE == 7">{{ 'Draft'|translate }}
                        <span class="custom-control-indicator"></span>
                      </label>
                    </div>
                    <div class="col-md-2" align="center">
                      <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="statusComp" [value]="2" [(ngModel)]="selectComponent.COMP_RELEASE" 
                        [disabled]="(selectComponent.COMP_GEN_STATUS != 1) || (selectComponent.COMP_RELEASE == 7)">{{ 'Test'|translate }}
                        <span class="custom-control-indicator"></span>
                      </label>
                    </div>
                    <div class="col-md-2" align="center">
                      <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="statusComp" [value]="3" [(ngModel)]="selectComponent.COMP_RELEASE" 
                        [disabled]="(selectComponent.COMP_GEN_STATUS != 1) || (selectComponent.COMP_RELEASE == 7)">{{ 'Active'|translate }}
                        <span class="custom-control-indicator"></span>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="col-md-2" align="center">
                      <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="statusComp"  [value]="4" [(ngModel)]="selectComponent.COMP_RELEASE" 
                        [disabled]="(selectComponent.COMP_GEN_STATUS != 1) || (selectComponent.COMP_RELEASE == 7)">{{ 'Certified'|translate }}
                        <span class="custom-control-indicator"></span>
                      </label>
                    </div>
                    <div class="col-md-2" align="center">
                      <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="statusComp" [value]="9" [(ngModel)]="selectComponent.COMP_RELEASE"
                        [disabled]="(selectComponent.COMP_GEN_STATUS != 1) || (selectComponent.COMP_RELEASE == 7)">{{ 'Obsolete'|translate }}
                        <span class="custom-control-indicator"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="selectComponent && selectComponent.COMP_RELEASE != 6">
                <div class="card-header">
                  <strong>{{ 'CALCULATION PARAMETER'|translate }}</strong>
                </div>
                <table class="table table-bordered table-sm mb-0">
                  <thead>
                    <tr>
                      <th style="vertical-align:middle;text-align:center">{{ 'Temperature'|translate }}({{ temperatureSymbol }})</th>
                      <th style="vertical-align:middle;text-align:center">{{ 'Action'|translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <td colspan="2">
                      <perfect-scrollbar style="max-height: 150px;">
                        <table>
                          <tr *ngFor="let field of fieldArray; let i = index">
                            <td align="center" style="vertical-align:middle;text-align:center">{{ field.temperature }}
                              <!-- <input [(ngModel)]="field.temperature" class="form-control" type="text" name="{{field.temperature}}" /> -->
                            </td>
                            <td align="center" width="10%">
                              <div style="margin-top:0.5em">
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteFieldValue(i)" ngbTooltip="Delete one temperature">
                                  <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </button>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </perfect-scrollbar>
                    </td>
                    <tr>
                      <td align="center" style="vertical-align:middle">
                        <input type="text" class="form-control col-md-6" [(ngModel)]="newAttribute.temperature">
                      </td>
                      <td align="center">
                        <div style="margin-top:0.5em">
                          <button type="button" class="btn btn-success btn-sm" (click)="addFieldValue()" ngbTooltip="Add one temperature">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="card">
              <div class="card-header">
                <strong>{{ 'DESCRIPTION'|translate }}</strong>
              </div>
              <div class="card-body" *ngIf="selectComponent && !checkHideInfo; else hideInfo">
                <div class="row" *ngIf="dataComponent">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="name-component">{{ 'Name'|translate }}</label>
                      <div class="col-md-5">
                        <input type="text" id="name-component" name="name-component" class="form-control form-control-sm" [(ngModel)]="selectComponent.LABEL">
                      </div>
                      <label class="col-md-2 col-form-label" for="version-component">{{ 'Version'|translate }}</label>
                      <div class="col-md-2">
                        <input type="text" id="version-component" name="version-component" class="form-control form-control-sm" placeholder="0.0" [(ngModel)]="selectComponent.COMP_VERSION">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="comment-component">{{ 'Comment'|translate }}</label>
                      <div class="col-md-9">
                        <textarea type="text" id="comment-component" name="comment-component" class="form-control" [(ngModel)]="selectComponent.COMP_COMMENT"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-8 col-form-label" for="text-input">
                        <button type="button" class="btn btn-primary btn-sm" id="caluclateFreeze" (click)="checkDataComponent(selectComponent, 2);"
                          [ladda]="laddaIsFreeze">
                          <i class="icon-energy"></i>&nbsp; {{ 'Freeze temperature'|translate }}</button>
                      </label>
                      <div class="col-md-4">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="0.00" [(ngModel)]="selectComponent.FREEZE_TEMP">
                          <span class="input-group-addon">
                            <small>
                            {{ temperatureSymbol }}  
                            </small>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-md-4 col-form-label">{{ 'Product family'|translate }}</label>
                      <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="selectComponent.CLASS_TYPE" (change)="changCompFamily(selectComponent.CLASS_TYPE);">
                          <option [value]="0">{{ 'Select a family'|translate }}</option>
                          <option *ngFor="let family of dataComponent.productFamily" [value]="family.ID_TRANSLATION">
                            {{ family.LABEL|translate }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-md-4 col-form-label">{{ 'Sub family'|translate }}</label>
                      <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="selectComponent.SUB_FAMILY">
                          <option [value]="0">{{ 'Select a sub family'|translate }}</option>
                          <option *ngFor="let sub of dataComponent.subFamily" [value]="sub.ID_TRANSLATION">
                            {{ sub.LABEL|translate}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-md-4 col-form-label">{{ 'Product nature'|translate }}</label>
                      <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="selectComponent.COMP_NATURE">
                          <option *ngFor="let nature of dataComponent.productNature" [value]="nature.ID_TRANSLATION">
                            {{ nature.LABEL|translate}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-md-4 col-form-label">{{ 'Conductivity'|translate }}</label>
                      <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="selectComponent.COND_DENS_MODE">
                          <option [value]=0>{{ '% product weigth'|translate }}</option>
                          <option [value]=1>{{ 'porosity'|translate }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <hr>
                    <div class="form-group row">
                      <label class="col-md-6 col-form-label" for="text-input">{{ 'Water'|translate }}</label>
                      <div class="col-md-6">
                        <div class="input-group">
                          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="selectComponent.WATER">
                          <span class="input-group-addon">
                            <small>%</small>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 col-form-label" for="text-input">{{ 'Protein & dry material'|translate }}</label>
                      <div class="col-md-6">
                        <div class="input-group">
                          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="selectComponent.PROTID">
                          <span class="input-group-addon">
                            <small>%</small>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 col-form-label" for="text-input">{{ 'Lipid'|translate }}</label>
                      <div class="col-md-6">
                        <div class="input-group">
                          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="selectComponent.LIPID">
                          <span class="input-group-addon">
                            <small>%</small>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 col-form-label" for="text-input">{{ 'Glucid'|translate }}</label>
                      <div class="col-md-6">
                        <div class="input-group">
                          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="selectComponent.GLUCID">
                          <span class="input-group-addon">
                            <small>%</small>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 col-form-label" for="text-input">{{ 'Salt'|translate }}</label>
                      <div class="col-md-6">
                        <div class="input-group">
                          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="selectComponent.SALT">
                          <span class="input-group-addon">
                            <small>%</small>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 col-form-label" for="text-input">{{ 'Air (volume)'|translate }}</label>
                      <div class="col-md-6">
                        <div class="input-group">
                          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="selectComponent.AIR">
                          <span class="input-group-addon">
                            <small>%</small>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 col-form-label" for="text-input">{{ 'Unfreezable water'|translate }}</label>
                      <div class="col-md-6">
                        <div class="input-group">
                          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="selectComponent.NON_FROZEN_WATER">
                          <span class="input-group-addon">
                            <small>%</small>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-6 col-form-label" for="text-input">{{ 'Fat type'|translate }}</label>
                      <div class="col-md-6">
                        <select class="form-control" [(ngModel)]="selectComponent.FAT_TYPE">
                          <option *ngFor="let fat of dataComponent.FatType" [value]="fat.ID_TRANSLATION">
                            {{ fat.LABEL|translate}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <div class="input-group" align="center">
                          <input type="text" id="total" name="total" 
                            [value]="((selectComponent.WATER) -- (selectComponent.PROTID) -- (selectComponent.LIPID) -- (selectComponent.GLUCID) --
                              (selectComponent.SALT) -- (0.01205 * selectComponent.AIR))"
                            class="form-control" placeholder="0.00" disabled>
                          <span class="input-group-addon">
                            <small>%</small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #hideInfo>
                <div class="card-body">
                  <div class="text-muted text-center" style="min-height: 200px;padding-top:90px;">
                    Please select a component from the list before process.
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="row col-md-12" *ngIf="selectComponent && !checkHideInfo">
            <div class="btn-component text-center" *ngIf="selectComponent && selectComponent.COMP_RELEASE != 6">
              <button type="button" class="btn btn-secondary" *ngIf="checkBackStudy == 1" (click)="comeBackStudy()">
                <i class="fa fa-chevron-circle-left"></i>&nbsp; {{ 'Come back to study'|translate }}
              </button>
              <button type="button" class="btn btn-primary" id="calulationRun" (click)="checkDataComponent(selectComponent, 3);"
               [disabled]="selectComponent.ID_USER != dataComponent.ID_USER" [ladda]="laddaIsCalculating">
                <i class="icon-energy"></i>&nbsp; {{ 'Calculate'|translate }}</button>
              <!-- <button type="button" class="btn btn-success">
                <i></i> {{ 'Data generated'|translate}}</button> -->
            </div>
          </div>
        </div>
        <div class="btn-component text-center" *ngIf="selectComponent && selectComponent.COMP_RELEASE == 6">
          <button type="button" class="btn btn-secondary" *ngIf="checkBackStudy == 1" (click)="comBackStudyNoAdd();">
            <i class="fa fa-chevron-circle-left"></i>&nbsp; {{ 'Come back to study'|translate }}
          </button>
          <button type="button" class="btn btn-primary" id="awakeCalculate" (click)="awakeComponent(selectComponent, 3);">
            <i class="icon-energy"></i>&nbsp; {{ 'Awake'|translate }}</button>
        </div>
      </div>
      <!-- End Component -->
      <!-- Generate data -->
      <div style="margin-top:10px;display:none" id="page-datagenerated-component" *ngIf="!isLoading">
        <table class="table table-bordered table-sm mb-0" *ngIf="compenths">
          <tr>
            <td align="center"></td>
            <td align="center">{{ 'Temperature'|translate }} ({{ temperatureSymbol }})</td>
            <td align="center">{{ 'Enthalpy'|translate }} ({{ enthalpySymbol }})</td>
            <td align="center">{{ 'Conductivity'|translate }} ({{ conductivitySymbol }})</td>
            <td align="center">{{ 'Density'|translate }} ({{ densitySymbol }})</td>
          </tr>
          <tr *ngFor="let compenth of compenths" class="text-center nowrap">
            <td>
              <button type="button" class="btn btn-sm btn-primary" (click)="getElementCompenth(compenth);" ngbTooltip="Edit one compenth">
                <i class="fa fa-pencil-square-o"></i>
              </button>
            </td>
            <td>{{ compenth.COMPTEMP }}</td>
            <td>{{ compenth.COMPENTH }}</td>
            <td>{{ compenth.COMPCOND }}</td>
            <td>{{ compenth.COMPDENS }}</td>
          </tr>
        </table>
      </div>
      <!-- End Generate data -->
    </div>
  </div>
</div>

<!-- Model new component -->
<div bsModal class="modal fade" #modalAddComponent="bs-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-primary" role="document" style="max-width:80%;">
    <div class="modal-content">
      <div class="modal-header ">
        <strong>{{ 'Component - New'|translate }}</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalAddComponent.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="card-body" *ngIf="dataComponent">
          <div style="margin-top:10px;display:block" id="page-new-component" *ngIf="dataComponent">
            <div class="card">
              <div class="card-header">
                <strong>{{ 'DESCRIPTION'|translate }}</strong>
              </div>
              <div class="card-body">
                <div class="row col-md-12" style="margin-top: 10px;">
                  <div class="col-md-7">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="name-component">{{ 'Name'|translate }}</label>
                      <div class="col-md-5">
                        <input type="text" id="name-component" name="name-component" class="form-control" [(ngModel)]="dataComponent.COMP_NAME">
                      </div>
                      <label class="col-md-2 col-form-label" for="version-component">{{ 'Version'|translate }}</label>
                      <div class="col-md-2">
                        <input type="text" id="version-component" name="version-component" class="form-control" placeholder="0.0" [(ngModel)]="dataComponent.COMP_VERSION">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="comment-component">{{ 'Comment'|translate }}</label>
                      <div class="col-md-9">
                        <textarea type="text" id="comment-component" name="comment-component" class="form-control" [(ngModel)]="dataComponent.COMP_COMMENT"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-8 col-form-label" for="text-input">
                        <button type="button" class="btn btn-primary btn-sm" id="calcbutton" (click)="checkDataComponent(dataComponent, 1);" [ladda]="laddaIsCalculating">
                          <i class="icon-energy"></i>&nbsp; {{ 'Freeze temperature'|translate }}</button>
                      </label>
                      <div class="col-md-4">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="0.00" [(ngModel)]="dataComponent.FREEZE_TEMP">
                          <span class="input-group-addon">
                            <small>
                              {{ temperatureSymbol }}
                            </small>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="row form-group">
                      <label class="col-md-4 col-form-label">{{ 'Product family'|translate }}</label>
                      <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="dataComponent.PRODUCT_TYPE" (change)="changCompFamily(dataComponent.PRODUCT_TYPE);">
                          <option [value]="0">{{ 'Select a family'|translate }}</option>
                          <option *ngFor="let family of dataComponent.productFamily" [value]="family.ID_TRANSLATION">
                            {{ family.LABEL|translate }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-md-4 col-form-label">{{ 'Sub family'|translate }}</label>
                      <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="dataComponent.SUB_TYPE">
                          <option [value]="0">{{ 'Select a sub family'|translate }}</option>
                          <option *ngFor="let sub of dataComponent.subFamily" [value]="sub.ID_TRANSLATION">
                            {{ sub.LABEL|translate}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-md-4 col-form-label">{{ 'Product nature'|translate }}</label>
                      <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="dataComponent.NATURE_TYPE">
                          <option *ngFor="let nature of dataComponent.productNature" [value]="nature.ID_TRANSLATION">
                            {{ nature.LABEL|translate}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-md-4 col-form-label">{{ 'Conductivity'|translate }}</label>
                      <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="dataComponent.CONDUCT_TYPE">
                          <option [value]=0>{{ '% product weigth'|translate }}</option>
                          <option [value]=1>{{ 'porosity'|translate }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <div class="row col-md-12">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="col-md-6 col-form-label" for="text-input">{{ 'Water'|translate }}</label>
                              <div class="col-md-6">
                                <div class="input-group">
                                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="dataComponent.WATER">
                                  <span class="input-group-addon">
                                    <small>%</small>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-6 col-form-label" for="text-input">{{ 'Protein & dry material'|translate }}</label>
                              <div class="col-md-6">
                                <div class="input-group">
                                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="dataComponent.PROTID">
                                  <span class="input-group-addon">
                                    <small>%</small>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-6 col-form-label" for="text-input">{{ 'Lipid'|translate }}</label>
                              <div class="col-md-6">
                                <div class="input-group">
                                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="dataComponent.LIPID">
                                  <span class="input-group-addon">
                                    <small>%</small>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-6 col-form-label" for="text-input">{{ 'Glucid'|translate }}</label>
                              <div class="col-md-6">
                                <div class="input-group">
                                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="dataComponent.GLUCID">
                                  <span class="input-group-addon">
                                    <small>%</small>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-6 col-form-label" for="text-input">{{ 'Salt'|translate }}</label>
                              <div class="col-md-6">
                                <div class="input-group">
                                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="dataComponent.SALT">
                                  <span class="input-group-addon">
                                    <small>%</small>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-6 col-form-label" for="text-input">{{ 'Air (volume)'|translate }}</label>
                              <div class="col-md-6">
                                <div class="input-group">
                                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="dataComponent.AIR">
                                  <span class="input-group-addon">
                                    <small>%</small>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-md-6 col-form-label" for="text-input">{{ 'Unfreezable water'|translate }}</label>
                          <div class="col-md-6">
                            <div class="input-group">
                              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="0.00" [(ngModel)]="dataComponent.NON_FROZEN_WATER">
                              <span class="input-group-addon">
                                <small>%</small>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-6 col-form-label" for="text-input"></label>
                          <div class="col-md-6">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-6 col-form-label" for="text-input">{{ 'Fat type'|translate }}</label>
                          <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="dataComponent.FATTYPE">
                              <option *ngFor="let fat of dataComponent.FatType" [value]="fat.ID_TRANSLATION">
                                {{ fat.LABEL|translate}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-6 col-form-label" for="text-input"></label>
                          <div class="col-md-6">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-6 col-form-label" for="text-input"></label>
                          <div class="col-md-6">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-6"></div>
                          <div class="col-md-6">
                            <div class="input-group" align="center">
                              <input type="text" id="total" name="total" class="form-control" placeholder="0.00" disabled
                              [value]="((dataComponent.WATER) -- (dataComponent.PROTID) -- (dataComponent.LIPID) -- (dataComponent.GLUCID) --(dataComponent.SALT) -- (0.01205 * dataComponent.AIR))" >
                              <span class="input-group-addon">
                                <small>%</small>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <strong>{{ 'STATUS'|translate }}</strong>
                  </div>
                  <div class="row card-status">
                    <div class="col">
                      <div class="col-md-2" align="center">
                        <label class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" name="statusCompNew" [(ngModel)]="dataComponent.release"
                            value="1">{{ 'Draft'|translate }}
                          <span class="custom-control-indicator"></span>
                        </label>
                      </div>
                      <div class="col-md-2" align="center">
                        <label class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" value="2" name="statusCompNew" [(ngModel)]="dataComponent.release" disabled>{{ 'Test'|translate }}
                          <span class="custom-control-indicator"></span>
                        </label>
                      </div>
                      <div class="col-md-2" align="center">
                        <label class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" value="3" name="statusCompNew" [(ngModel)]="dataComponent.release" disabled>{{ 'Active'|translate }}
                          <span class="custom-control-indicator"></span>
                        </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="col-md-2" align="center">
                        <label class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" value="4" name="statusCompNew" [(ngModel)]="dataComponent.release" disabled>{{ 'Certified'|translate }}
                          <span class="custom-control-indicator"></span>
                        </label>
                      </div>
                      <div class="col-md-2" align="center">
                        <label class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" value="9" name="statusCompNew" [(ngModel)]="dataComponent.release" disabled>{{ 'Obsolete'|translate }}
                          <span class="custom-control-indicator"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <strong>{{ 'CALCULATION PARAMETER'|translate }}</strong>
                  </div>
                  <div class="card-body">
                    <table class="table table-bordered table-sm mb-0">
                      <tr>
                        <th style="vertical-align:middle;text-align:center">{{ 'Temperature'|translate }}({{ temperatureSymbol }})</th>
                        <th style="vertical-align:middle;text-align:center">{{ 'Action'|translate }}</th>
                      </tr>
                      <!-- <perfect-scrollbar style="max-height: 150px;display: inline;">   -->
                      <tr *ngFor="let field of fieldArray; let i = index">
                        <td align="center" style="vertical-align:middle;text-align:center">{{ field.temperature }}
                          <!-- <input [(ngModel)]="field.temperature" class="form-control" type="text" name="{{field.temperature}}" /> -->
                        </td>
                        <td align="center" width="10%">
                          <div style="margin-top:0.5em">
                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteFieldValue(i)">
                              <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                      <!-- </perfect-scrollbar> -->
                      <tr>
                        <td align="center" style="vertical-align:middle">
                          <input type="text" class="form-control col-md-6" [(ngModel)]="newAttribute.temperature">
                        </td>
                        <td align="center">
                          <div style="margin-top:0.5em">
                            <button type="button" class="btn btn-success btn-sm" (click)="addFieldValue()">
                              <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-secondary" data-dismiss="modal" (click)="modalAddComponent.hide()">{{ 'Cancel'|translate }}</button>
              <button type="button" class="btn btn-success" (click)="checkDataComponent(dataComponent, 0)">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> {{ 'Save'|translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End model new component -->

<!-- Model Freezetemper Mode -->
<div class="modal fade" bsModal #modalFreezetemper="bs-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div id="showcalculateloading"></div>
    <div class="modal-content" *ngIf="!isLoading">
      <div class="modal-header">
        <strong class="modal-title pull-left">{{ 'Freeze temperature' | translate }}</strong>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalFreezetemper.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align:center">
        <div class="freeze-com">
          <strong class="modal-title txt-component">{{ 'Please confirm freeze calculation' | translate }}</strong>
        </div>
        <div class="btn-estimation">
          <button class="btn btn-secondary btn-lg" (click)="modalFreezetemper.hide()">Cancel</button>
          <button class="btn btn-primary btn-lg" style="margin-left:20px;">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Model Freezetemper Mode -->
<!-- Start Save as -->
<div bsModal class="modal fade" #modalSaveAsComponent="bs-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
              {{ 'Save Component As'|translate }}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalSaveAsComponent.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body row" *ngIf="dataComponent && selectComponent">
          <div class="col-md-12">
              <div class="form-group row">
                  <div class="col-md-3"></div>
                  <label class="col-md-2 col-form-label" for="text-input">{{ 'Name'|translate }}</label>
                  <div class="col-md-4">
                      <input type="text" id="name" name="name" class="form-control" [(ngModel)]="dataComponent.COMP_NAME_NEW">
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="form-group row">
                      <div class="col-md-3"></div>
                  <label class="col-md-2 col-form-label" for="text-input">{{ 'Version'|translate }}</label>
                  <div class="col-md-4">
                      <input type="text" id="version" name="version" class="form-control" placeholder="0.0" [(ngModel)]="dataComponent.COMP_VERSION_NEW">
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" (click)="modalSaveAsComponent.hide()">{{ 'Cancel'|translate }}</button>
        <button class="btn btn-success" (click)="saveAsComponent(selectComponent);"><i class="fa fa-floppy-o"></i> {{ 'Confirm'|translate }}</button>
      </div>
    </div>
  </div>
</div>
<!-- End Save as-->

<!-- Start generate data -->
<div bsModal class="modal fade" #displayCTComponent="bs-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-primary">
    <div class="modal-content">
      <div class="modal-header">
        <strong>{{'Modify'|translate}}</strong>
        <button class="close" arria-label="Close" data-dismiss="modal" (click)="displayCTComponent.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" *ngIf="dataCompenth">
          <div class="form-group row">
            <div class="col-md-4" style="float:right">{{'Temperature:'|translate}}</div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" name="COMPTEMP" class="form-control" [(ngModel)]="dataCompenth.COMPTEMP" disabled>
                <span class="input-group-addon">{{ temperatureSymbol }}</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4" style="float:right">{{'Enthalpy:'|translate}}</div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" name="COMPENTH" class="form-control" [(ngModel)]="dataCompenth.COMPENTH">
                <span class="input-group-addon">{{ enthalpySymbol }}</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4" style="float:right">{{'Conductivity:'|translate}}</div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" name="COMPCOND" class="form-control" [(ngModel)]="dataCompenth.COMPCOND">
                <span class="input-group-addon">{{ conductivitySymbol }}</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4" style="float:right">{{'Density:'|translate}}</div>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" name="COMPDENS" class="form-control" [(ngModel)]="dataCompenth.COMPDENS">
                <span class="input-group-addon">{{ densitySymbol }}</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" (click)="displayCTComponent.hide()">{{ 'Cancel'|translate }}</button>
        <button class="btn btn-success" (click)="updateCompenth(dataCompenth)" *ngIf="dataCompenth">
          <i class="fa fa-floppy-o"></i> {{ 'Confirm'|translate }}</button>
      </div>
    </div>
  </div>
</div>
<!-- End generate data -->
<app-spinner *ngIf="isLoading"></app-spinner>