.compLocked { color: #C0C0C0!important;}
.packLocked { color: #C0C0C0!important;}
.eqpLocked { color: #C0C0C0!important;}
.lineLocked { color: #C0C0C0!important;}
.mineElement { color: #4682B4!important; }
.userElement { color: #808080!important;}
.obsoleteElement { color: #FF0000!important;}
.disabledElement { color: #FF8C00!important;}