.study-active {
  background-color: #80FF80;
}

.study-no {
  background-color: #CAE1F7;
}

.study-err {
  color: red;
}

tr {
  height: 20px;
}

.table-study {
  border: 1px;
  border-color: #000066;
}

.study-text {
  text-align: left;
}
